<a href="https://colab.research.google.com/github/AlejandroGuedez/Equipo-23-de-Diplomado-data-scientist/blob/main/EyCD_TP_Parte_1_Gr23_220504.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones**

**Exporación y curación de Datos**


*Edición 2022*

---
## Trabajo práctico entregable - Parte 1 - Grupo 23

**Integrantes:** Franco Amilcar Genolet (francogeno97@gmail.com), Fabian Alejandro Zapata Cerutti (fzc501@gmail.com), Luis Alejandro Guedez Gomez (luis.guedez@dicsys.com), María Laura Mantovani (mantovanimlaura@gmail.com).

En esta notebook, vamos a cargar el conjunto de datos de [la compentencia Kaggle](https://www.kaggle.com/dansbecker/melbourne-housing-snapshot) sobre estimación de precios de ventas de propiedades en Melbourne, Australia.

Utilizaremos el conjunto de datos reducido producido por [DanB](https://www.kaggle.com/dansbecker). Hemos subido una copia a un servidor de la Universidad Nacional de Córdoba para facilitar su acceso remoto.

Empezamos instalando algunas librerías que nos pueden ser de utilidad:

In [ ]:
import matplotlib.pyplot as plt
import numpy
import pandas

import seaborn
seaborn.set_context('talk')

#pip install python-decouple
#from decouple import config
from sqlalchemy import create_engine, text

import plotly
plotly.__version__
# Make sure it's 4.14.3

'5.5.0'

## Ejercicio 1: SQL

 

1.   Crear una base de datos en SQLite utilizando la libreria SQLalchemy. https://docs.sqlalchemy.org/en/14/core/engines.html#sqlite

2. Ingestar los datos provistos en 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv' en una tabla y el dataset generado en clase con datos de airbnb y sus precios por codigo postal en otra.

3. Implementar consultas en SQL que respondan con la siguiente información:
  *   cantidad de registros totales por ciudad.
  *   cantidad de registros totales por barrio y ciudad.

4. Combinar los datasets de ambas tablas ingestadas utilizando el comando JOIN de SQL para obtener un resultado similar a lo realizado con Pandas en clase.

**Respuesta**

Creamos la base de datos con la siguiente línea de código:

In [ ]:
engine = create_engine('sqlite:///melb_data.sqlite3', echo=True)

Para ingestar los datos de Melbourne y airbnb a la base de datos que acabamos de crear, leemos las URLs provistas en clase que contienen los respectivos csv con los datasets solicitados.

In [ ]:
melb_df = pandas.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv')

In [ ]:
airbnb_df = pandas.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/cleansed_listings_dec18.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (35,77) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Aqui nos trae una alerta de columnas con datos mixtos. Chequeamos las columnas que tengan más de un data type:

In [ ]:
data_types = airbnb_df.applymap(type).nunique() > 1
data_types_df = pandas.DataFrame(data_types, columns=['mixed_types'])

In [ ]:
with pandas.option_context('display.max_rows', None, 'display.max_columns', None): 
    print(data_types_df)

                                  mixed_types
id                                      False
listing_url                             False
scrape_id                               False
last_scraped                            False
name                                     True
summary                                  True
space                                    True
description                              True
neighborhood_overview                    True
notes                                    True
transit                                  True
access                                   True
interaction                              True
house_rules                              True
picture_url                             False
host_id                                 False
host_url                                False
host_name                                True
host_since                               True
host_location                            True
host_about                               True
host_response_time                       True
host_response_rate                       True
host_is_superhost                        True
host_thumbnail_url                       True
host_picture_url                         True
host_neighborhood                        True
host_verifications                      False
host_has_profile_pic                     True
host_identity_verified                   True
street                                  False
neighborhood                             True
city                                    False
suburb                                   True
state                                    True
zipcode                                  True
smart_location                          False
country_code                            False
country                                 False
latitude                                False
longitude                               False
is_location_exact                       False
property_type                           False
room_type                               False
accommodates                            False
bathrooms                               False
bedrooms                                False
beds                                    False
bed_type                                False
amenities                               False
price                                   False
weekly_price                            False
monthly_price                           False
security_deposit                        False
cleaning_fee                            False
guests_included                         False
extra_people                            False
minimum_nights                          False
maximum_nights                          False
calendar_updated                        False
has_availability                        False
availability_30                         False
availability_60                         False
availability_90                         False
availability_365                        False
calendar_last_scraped                   False
number_of_reviews                       False
first_review                             True
last_review                              True
review_scores_rating                    False
review_scores_accuracy                  False
review_scores_cleanliness               False
review_scores_checkin                   False
review_scores_communication             False
review_scores_location                  False
review_scores_value                     False
requires_license                        False
license                                  True
instant_bookable                        False
cancellation_policy                     False
require_guest_profile_picture           False
require_guest_phone_verification        False
calculated_host_listings_count          False
reviews_per_month                       False

Como vamos a tener que unir los dos dataset usando Postalcode = zipcode, nos interesa que zipcode en la tabla de airbnb tenga un único data type. Para esto usamos la siguiente línea de código:

In [ ]:
airbnb_df['zipcode'] = pandas.to_numeric(airbnb_df.zipcode, errors='coerce')

Ingestamos los datos de `melb_df` a una tabla llamada `melb_data`:

In [ ]:
melb_df.to_sql('melb_data', con=engine, if_exists="replace")

2022-05-01 13:40:41,579 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("melb_data")
2022-05-01 13:40:41,582 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-01 13:40:41,585 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("melb_data")
2022-05-01 13:40:41,593 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-01 13:40:41,604 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-01 13:40:41,609 INFO sqlalchemy.engine.Engine
CREATE TABLE melb_data (
	"index" BIGINT,
	"Suburb" TEXT,
	"Address" TEXT,
	"Rooms" BIGINT,
	"Type" TEXT,
	"Price" FLOAT,
	"Method" TEXT,
	"SellerG" TEXT,
	"Date" TEXT,
	"Distance" FLOAT,
	"Postcode" FLOAT,
	"Bedroom2" FLOAT,
	"Bathroom" FLOAT,
	"Car" FLOAT,
	"Landsize" FLOAT,
	"BuildingArea" FLOAT,
	"YearBuilt" FLOAT,
	"CouncilArea" TEXT,
	"Lattitude" FLOAT,
	"Longtitude" FLOAT,
	"Regionname" TEXT,
	"Propertycount" FLOAT
)


2022-05-01 13:40:41,612 INFO sqlalchemy.engine.Engine [no key 0.00285s] ()
2022-05-01 13:40:41,631 INFO sqlalchemy.engine.Engine CREATE INDEX ix_melb_data_index ON melb_data ("index")
2022-05-01 13:40:41,632 INFO sqlalchemy.engine.Engine [no key 0.00150s] ()
2022-05-01 13:40:41,650 INFO sqlalchemy.engine.Engine COMMIT
2022-05-01 13:40:41,678 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-01 13:40:42,182 INFO sqlalchemy.engine.Engine INSERT INTO melb_data ("index", "Suburb", "Address", "Rooms", "Type", "Price", "Method", "SellerG", "Date", "Distance", "Postcode", "Bedroom2", "Bathroom", "Car", "Landsize", "BuildingArea", "YearBuilt", "CouncilArea", "Lattitude", "Longtitude", "Regionname", "Propertycount") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-05-01 13:40:42,190 INFO sqlalchemy.engine.Engine [generated in 0.46551s] ((0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0), (1, 'Abbotsford', '25 Bloomburg St', 2, 'h', 1035000.0, 'S', 'Biggin', '4/02/2016', 2.5, 3067.0, 2.0, 1.0, 0.0, 156.0, 79.0, 1900.0, 'Yarra', -37.8079, 144.9934, 'Northern Metropolitan', 4019.0), (2, 'Abbotsford', '5 Charles St', 3, 'h', 1465000.0, 'SP', 'Biggin', '4/03/2017', 2.5, 3067.0, 3.0, 2.0, 0.0, 134.0, 150.0, 1900.0, 'Yarra', -37.8093, 144.9944, 'Northern Metropolitan', 4019.0), (3, 'Abbotsford', '40 Federation La', 3, 'h', 850000.0, 'PI', 'Biggin', '4/03/2017', 2.5, 3067.0, 3.0, 2.0, 1.0, 94.0, None, None, 'Yarra', -37.7969, 144.9969, 'Northern Metropolitan', 4019.0), (4, 'Abbotsford', '55a Park St', 4, 'h', 1600000.0, 'VB', 'Nelson', '4/06/2016', 2.5, 3067.0, 3.0, 1.0, 2.0, 120.0, 142.0, 2014.0, 'Yarra', -37.8072, 144.9941, 'Northern Metropolitan', 4019.0), (5, 'Abbotsford', '129 Charles St', 2, 'h', 941000.0, 'S', 'Jellis', '7/05/2016', 2.5, 3067.0, 2.0, 1.0, 0.0, 181.0, None, None, 'Yarra', -37.8041, 144.9953, 'Northern Metropolitan', 4019.0), (6, 'Abbotsford', '124 Yarra St', 3, 'h', 1876000.0, 'S', 'Nelson', '7/05/2016', 2.5, 3067.0, 4.0, 2.0, 0.0, 245.0, 210.0, 1910.0, 'Yarra', -37.8024, 144.9993, 'Northern Metropolitan', 4019.0), (7, 'Abbotsford', '98 Charles St', 2, 'h', 1636000.0, 'S', 'Nelson', '8/10/2016', 2.5, 3067.0, 2.0, 1.0, 2.0, 256.0, 107.0, 1890.0, 'Yarra', -37.806, 144.9954, 'Northern Metropolitan', 4019.0)  ... displaying 10 of 13580 total bound parameter sets ...  (13578, 'Williamstown', '96 Verdon St', 4, 'h', 2500000.0, 'PI', 'Sweeney', '26/08/2017', 6.8, 3016.0, 4.0, 1.0, 5.0, 866.0, 157.0, 1920.0, None, -37.85908, 144.89299, 'Western Metropolitan', 6380.0), (13579, 'Yarraville', '6 Agnes St', 4, 'h', 1285000.0, 'SP', 'Village', '26/08/2017', 6.3, 3013.0, 4.0, 1.0, 1.0, 362.0, 112.0, 1920.0, None, -37.81188, 144.88449, 'Western Metropolitan', 6543.0))
2022-05-01 13:40:42,303 INFO sqlalchemy.engine.Engine COMMIT

Luego ingestamos los datos de `airbnb_df` a una tabla llamada `airbnb_data`:

In [ ]:
airbnb_df.to_sql('airbnb_data', con=engine, if_exists="replace")

2022-05-01 13:40:42,487 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("airbnb_data")
2022-05-01 13:40:42,489 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-01 13:40:42,491 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("airbnb_data")
2022-05-01 13:40:42,494 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-01 13:40:42,511 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-01 13:40:42,517 INFO sqlalchemy.engine.Engine
CREATE TABLE airbnb_data (
	"index" BIGINT,
	id BIGINT,
	listing_url TEXT,
	scrape_id FLOAT,
	last_scraped TEXT,
	name TEXT,
	summary TEXT,
	space TEXT,
	description TEXT,
	neighborhood_overview TEXT,
	notes TEXT,
	transit TEXT,
	access TEXT,
	interaction TEXT,
	house_rules TEXT,
	picture_url TEXT,
	host_id BIGINT,
	host_url TEXT,
	host_name TEXT,
	host_since TEXT,
	host_location TEXT,
	host_about TEXT,
	host_response_time TEXT,
	host_response_rate TEXT,
	host_is_superhost TEXT,
	host_thumbnail_url TEXT,
	host_picture_url TEXT,
	host_neighborhood TEXT,
	host_verifications TEXT,
	host_has_profile_pic TEXT,
	host_identity_verified TEXT,
	street TEXT,
	neighborhood TEXT,
	city TEXT,
	suburb TEXT,
	state TEXT,
	zipcode FLOAT,
	smart_location TEXT,
	country_code TEXT,
	country TEXT,
	latitude FLOAT,
	longitude FLOAT,
	is_location_exact TEXT,
	property_type TEXT,
	room_type TEXT,
	accommodates BIGINT,
	bathrooms FLOAT,
	bedrooms FLOAT,
	beds FLOAT,
	bed_type TEXT,
	amenities TEXT,
	price BIGINT,
	weekly_price FLOAT,
	monthly_price FLOAT,
	security_deposit FLOAT,
	cleaning_fee FLOAT,
	guests_included BIGINT,
	extra_people BIGINT,
	minimum_nights BIGINT,
	maximum_nights BIGINT,
	calendar_updated TEXT,
	has_availability TEXT,
	availability_30 BIGINT,
	availability_60 BIGINT,
	availability_90 BIGINT,
	availability_365 BIGINT,
	calendar_last_scraped TEXT,
	number_of_reviews BIGINT,
	first_review TEXT,
	last_review TEXT,
	review_scores_rating FLOAT,
	review_scores_accuracy FLOAT,
	review_scores_cleanliness FLOAT,
	review_scores_checkin FLOAT,
	review_scores_communication FLOAT,
	review_scores_location FLOAT,
	review_scores_value FLOAT,
	requires_license TEXT,
	license TEXT,
	instant_bookable TEXT,
	cancellation_policy TEXT,
	require_guest_profile_picture TEXT,
	require_guest_phone_verification TEXT,
	calculated_host_listings_count BIGINT,
	reviews_per_month FLOAT
)


2022-05-01 13:40:42,520 INFO sqlalchemy.engine.Engine [no key 0.00318s] ()
2022-05-01 13:40:42,538 INFO sqlalchemy.engine.Engine CREATE INDEX ix_airbnb_data_index ON airbnb_data ("index")
2022-05-01 13:40:42,540 INFO sqlalchemy.engine.Engine [no key 0.00158s] ()
2022-05-01 13:40:42,559 INFO sqlalchemy.engine.Engine COMMIT
2022-05-01 13:40:42,719 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-01 13:40:46,105 INFO sqlalchemy.engine.Engine INSERT INTO airbnb_data ("index", id, listing_url, scrape_id, last_scraped, name, summary, space, description, neighborhood_overview, notes, transit, access, interaction, house_rules, picture_url, host_id, host_url, host_name, host_since, host_location, host_about, host_response_time, host_response_rate, host_is_superhost, host_thumbnail_url, host_picture_url, host_neighborhood, host_verifications, host_has_profile_pic, host_identity_verified, street, neighborhood, city, suburb, state, zipcode, smart_location, country_code, country, latitude, longitude, is_location_exact, property_type, room_type, accommodates, bathrooms, bedrooms, beds, bed_type, amenities, price, weekly_price, monthly_price, security_deposit, cleaning_fee, guests_included, extra_people, minimum_nights, maximum_nights, calendar_updated, has_availability, availability_30, availability_60, availability_90, availability_365, calendar_last_scraped, number_of_reviews, first_review, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, requires_license, license, instant_bookable, cancellation_policy, require_guest_profile_picture, require_guest_phone_verification, calculated_host_listings_count, reviews_per_month) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

A continuación creamos las queries solicitadas en la consigna:
*   `query1`: cantidad de registros totales por ciudad.
*   `query2`: cantidad de registros totales por barrio y ciudad.

Recordamos las columnas que había en los dataframes:

In [ ]:
melb_df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [ ]:
airbnb_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'neighborhood_overview', 'notes', 'transit',
       'access', 'interaction', 'house_rules', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighborhood',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'street', 'neighborhood', 'city', 'suburb', 'state', 'zipcode',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'price',
       'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights',
       'calendar_updated', 'has_availability', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'calendar_last_scraped', 'number_of_reviews', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'license',
       'instant_bookable', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month'],
      dtype='object')

En el dataset `airbnb_df` tenemos una columna ciudad (`city`) y otra barrio (`neighborhood`). En el dataset de `melb_df` no estan las columnas con esos nombres exactos, pero tomaremos la columna `CouncilArea` como ciudad y `Suburb` como barrio.

Vemos la cantidad de filas que tiene cada dataframe:

In [ ]:
melb_df.shape[0]

13580

In [ ]:
airbnb_df.shape[0]

22895

Profundizamos el análisis de las columnas viendo nulos y ceros de cada una en ambas tablas. Para eso creamos una función `status`:

In [ ]:
def status(data):

    data2=data 

    # total de rows
    tot_rows=len(data2)
    
    # total de nan
    d2=data2.isnull().sum().reset_index()
    d2.columns=['variable', 'q_nan']
    
    # percentage of nan
    d2[['p_nan']]=d2[['q_nan']]/tot_rows
    
    # num of zeros
    d2['q_zeros']=(data2==0).sum().values

    # perc of zeros
    d2['p_zeros']=d2[['q_zeros']]/tot_rows

    # total unique values
    d2['unique']=data2.nunique().values
    
    # get data types per column
    d2['type']=[str(x) for x in data2.dtypes.values]
    
    return(d2)

Analizamos nulos, ceros y únicos para `melb_df`:

In [ ]:
status(melb_df)

         variable  q_nan     p_nan  q_zeros   p_zeros  unique     type
0          Suburb      0  0.000000        0  0.000000     314   object
1         Address      0  0.000000        0  0.000000   13378   object
2           Rooms      0  0.000000        0  0.000000       9    int64
3            Type      0  0.000000        0  0.000000       3   object
4           Price      0  0.000000        0  0.000000    2204  float64
5          Method      0  0.000000        0  0.000000       5   object
6         SellerG      0  0.000000        0  0.000000     268   object
7            Date      0  0.000000        0  0.000000      58   object
8        Distance      0  0.000000        6  0.000442     202  float64
9        Postcode      0  0.000000        0  0.000000     198  float64
10       Bedroom2      0  0.000000       16  0.001178      12  float64
11       Bathroom      0  0.000000       34  0.002504       9  float64
12            Car     62  0.004566     1026  0.075552      11  float64
13       Landsize      0  0.000000     1939  0.142784    1448  float64
14   BuildingArea   6450  0.474963       17  0.001252     602  float64
15      YearBuilt   5375  0.395803        0  0.000000     144  float64
16    CouncilArea   1369  0.100810        0  0.000000      33   object
17      Lattitude      0  0.000000        0  0.000000    6503  float64
18     Longtitude      0  0.000000        0  0.000000    7063  float64
19     Regionname      0  0.000000        0  0.000000       8   object
20  Propertycount      0  0.000000        0  0.000000     311  float64

Aquí ya podemos observar que la columna `CouncilArea` tiene 33 valores únicos y la columna `Suburb` tiene 314, por lo que los resultados de la segunda query solicitada (que cruza estas dos columnas) va a ser extensa (33 x 314). Además observamos que CouncilArea tiene 1369 datos faltantes (un 10% del total de records: 13580). Vemos los 33 `CouncilArea` y sus frecuencias:

In [ ]:
melb_df['CouncilArea'].value_counts()

Moreland             1163
Boroondara           1160
Moonee Valley         997
Darebin               934
Glen Eira             848
Stonnington           719
Maribyrnong           692
Yarra                 647
Port Phillip          628
Banyule               594
Bayside               489
Melbourne             470
Hobsons Bay           434
Brimbank              424
Monash                333
Manningham            311
Whitehorse            304
Kingston              207
Whittlesea            167
Hume                  164
Wyndham                86
Knox                   80
Maroondah              80
Melton                 66
Frankston              53
Greater Dandenong      52
Casey                  38
Nillumbik              36
Yarra Ranges           18
Cardinia                8
Macedon Ranges          7
Unavailable             1
Moorabool               1
Name: CouncilArea, dtype: int64

Vemos los 314 `Suburb` y sus frecuencias:

In [ ]:
with pandas.option_context('display.max_rows', None, 'display.max_columns', None): 
  print(melb_df['Suburb'].value_counts())

Reservoir             359
Richmond              260
Bentleigh East        249
Preston               239
Brunswick             222
Essendon              220
South Yarra           202
Glen Iris             195
Hawthorn              191
Coburg                190
Northcote             188
Brighton              186
Kew                   177
Pascoe Vale           171
Balwyn North          171
Yarraville            164
St Kilda              162
Glenroy               159
Port Melbourne        153
Moonee Ponds          149
Carnegie              146
Bentleigh             139
Thornbury             139
Brighton East         138
Newport               137
Footscray             132
Camberwell            132
Elwood                131
Ascot Vale            130
Hampton               130
Surrey Hills          125
Prahran               123
Keilor East           121
Hawthorn East         119
Kensington            117
Malvern East          117
Doncaster             116
Sunshine              111
Brunswick West        110
Balwyn                107
Williamstown          107
West Footscray        105
Fawkner               102
Toorak                100
Ivanhoe                98
Maribyrnong            96
Armadale               95
Maidstone              94
Fitzroy North          93
Templestowe Lower      92
Brunswick East         88
Sunshine West          86
South Melbourne        85
Burwood                84
Ormond                 83
Niddrie                82
Murrumbeena            82
North Melbourne        81
Heidelberg Heights     78
Heidelberg West        76
Altona                 74
Avondale Heights       74
Bulleen                71
Albert Park            69
Sunshine North         68
Airport West           67
Malvern                67
Collingwood            65
Moorabbin              64
Strathmore             63
Oak Park               63
Seddon                 62
Flemington             62
Hadfield               62
Elsternwick            61
Rosanna                61
Windsor                60
Ashburton              60
Fitzroy                59
Box Hill               59
Oakleigh South         58
Clifton Hill           57
Mount Waverley         57
Abbotsford             56
Altona North           56
Coburg North           56
Canterbury             54
Epping                 52
Watsonia               52
Carlton                51
Heidelberg             51
Werribee               50
Kew East               49
Carlton North          48
Caulfield South        47
Oakleigh               47
Craigieburn            47
Ashwood                46
Cheltenham             46
Melbourne              46
Braybrook              46
Glen Waverley          45
Aberfeldie             44
Mill Park              43
Fairfield              43
Lalor                  42
Viewbank               41
Doncaster East         41
Southbank              41
Albion                 41
Hoppers Crossing       38
Sunbury                38
Greensborough          36
Bundoora               36
Hughesdale             35
Chadstone              35
Caulfield North        35
Mont Albert            34
Alphington             34
Middle Park            34
Kingsville             34
Croydon                33
Parkville              31
West Melbourne         31
Mitcham                30
Thomastown             29
Spotswood              29
Mulgrave               29
Highett                27
Balaclava              27
Wheelers Hill          26
Essendon West          26
Mentone                26
Hampton East           25
Eltham                 25
Cremorne               25
Jacana                 25
St Albans              25
Ivanhoe East           25
Sandringham            25
Gowanbrae              24
Yallambie              24
Frankston              24
Parkdale               24
Eaglemont              23
Broadmeadows           23
Keilor Park            22
East Melbourne         22
Forest Hill            22
Wantirna South         22
South Kingsville       22
Ferntree Gully         22
Essendon North         22
Taylors Lakes          22
Dingley Village        21
Blackburn              21
South Morang           21
Gladstone Park         20
Ringwood               20
Nunawading             20
Williamstown North     19
Kealba                 19
Templestowe            19
Mordialloc             18
Hillside               18
Melton South           18
Beaumaris              18
Montmorency            17
Meadow Heights         17
Glen Huntly            17
Greenvale              17
Frankston South        16
Dandenong North        16
Burwood East           16
Bellfield              16
Heathmont              16
Keilor Downs           15
Roxburgh Park          15
Bayswater              14
Deer Park              14
Vermont                14
Seaford                14
Boronia                14
Blackburn North        14
Westmeadows            14
Point Cook             13
Tullamarine            13
Vermont South          13
Clayton                13
Eltham North           13
Kingsbury              13
Dandenong              13
Donvale                13
Berwick                13
Blackburn South        12
Melton                 12
Black Rock             12
Wantirna               12
Ringwood East          12
Caulfield              12
Mooroolbark            12
Noble Park             12
Carrum Downs           12
Caroline Springs       11
Clayton South          11
Keysborough            11
Oakleigh East          11
Watsonia North         10
Tarneit                10
Travancore             10
Ringwood North         10
Rowville               10
Wollert                 9
Caulfield East          9
Carrum                  9
Brooklyn                9
Keilor                  9
Edithvale               9
Ripponlea               9
Mernda                  9
Springvale              9
McKinnon                8
Scoresby                8
Melton West             8
Briar Hill              8
Gisborne                8
Bayswater North         8
Narre Warren            7
Aspendale               7
Burnley                 7
Huntingdale             7
Cairnlea                7
Doveton                 7
Taylors Hill            7
Croydon North           7
Langwarrin              6
Albanvale               6
Dallas                  6
Delahey                 6
Strathmore Heights      6
Altona Meadows          6
Gardenvale              6
Seaholme                6
Diamond Creek           6
Doreen                  6
Chelsea                 5
Kings Park              5
Sydenham                5
Lower Plenty            5
Truganina               5
Princes Hill            5
Derrimut                5
Hallam                  5
Warrandyte              5
Endeavour Hills         5
Bonbeach                4
Kilsyth                 4
Kurunjang               4
Wyndham Vale            4
Campbellfield           4
Clarinda                4
Croydon Hills           4
Aspendale Gardens       4
Frankston North         4
Chelsea Heights         4
Hampton Park            4
Knoxfield               4
Coolaroo                4
The Basin               4
Ardeer                  3
Notting Hill            3
Pakenham                3
Burnside Heights        3
Cranbourne              3
Springvale South        3
Docklands               3
Seabrook                3
St Helena               3
Williams Landing        2
Deepdene                2
Hurstbridge             2
Waterways               2
Beaconsfield            2
Burnside                2
Cranbourne North        2
Mount Evelyn            2
Skye                    2
Diggers Rest            2
Keilor Lodge            2
Chirnside Park          2
Silvan                  2
Kooyong                 2
North Warrandyte        2
Whittlesea              1
Yarra Glen              1
Brookfield              1
Emerald                 1
Bacchus Marsh           1
Healesville             1
Wallan                  1
New Gisborne            1
Plumpton                1
Attwood                 1
Beaconsfield Upper      1
Upwey                   1
Officer                 1
Rockbank                1
Wonga Park              1
Riddells Creek          1
Sandhurst               1
Bullengarook            1
Croydon South           1
Montrose                1
Monbulk                 1
Name: Suburb, dtype: int64

Ahora analizamos nulos, ceros y únicos para `airbnb_df`:

In [ ]:
with pandas.option_context('display.max_rows', None, 'display.max_columns', None): 
    print(status(airbnb_df))

                            variable  q_nan     p_nan  q_zeros   p_zeros  \
0                                 id      0  0.000000        0  0.000000
1                        listing_url      0  0.000000        0  0.000000
2                          scrape_id      0  0.000000        0  0.000000
3                       last_scraped      0  0.000000        0  0.000000
4                               name      3  0.000131        0  0.000000
5                            summary    696  0.030400        0  0.000000
6                              space   6051  0.264294        0  0.000000
7                        description    332  0.014501        0  0.000000
8              neighborhood_overview   8471  0.369993        0  0.000000
9                              notes  11349  0.495698        0  0.000000
10                           transit   7952  0.347325        0  0.000000
11                            access   7727  0.337497        0  0.000000
12                       interaction   8358  0.365058        0  0.000000
13                       house_rules   7863  0.343437        0  0.000000
14                       picture_url      0  0.000000        0  0.000000
15                           host_id      0  0.000000        0  0.000000
16                          host_url      0  0.000000        0  0.000000
17                         host_name      3  0.000131        0  0.000000
18                        host_since      3  0.000131        0  0.000000
19                     host_location     26  0.001136        0  0.000000
20                        host_about   9165  0.400306        0  0.000000
21                host_response_time   7306  0.319109        0  0.000000
22                host_response_rate   7306  0.319109        0  0.000000
23                 host_is_superhost      3  0.000131        0  0.000000
24                host_thumbnail_url      3  0.000131        0  0.000000
25                  host_picture_url      3  0.000131        0  0.000000
26                 host_neighborhood   7968  0.348024        0  0.000000
27                host_verifications      0  0.000000        0  0.000000
28              host_has_profile_pic      3  0.000131        0  0.000000
29            host_identity_verified      3  0.000131        0  0.000000
30                            street      0  0.000000        0  0.000000
31                      neighborhood   5813  0.253898        0  0.000000
32                              city      0  0.000000        0  0.000000
33                            suburb     23  0.001005        0  0.000000
34                             state     61  0.002664        0  0.000000
35                           zipcode    146  0.006377        0  0.000000
36                    smart_location      0  0.000000        0  0.000000
37                      country_code      0  0.000000        0  0.000000
38                           country      0  0.000000        0  0.000000
39                          latitude      0  0.000000        0  0.000000
40                         longitude      0  0.000000        0  0.000000
41                 is_location_exact      0  0.000000        0  0.000000
42                     property_type      0  0.000000        0  0.000000
43                         room_type      0  0.000000        0  0.000000
44                      accommodates      0  0.000000        0  0.000000
45                         bathrooms     17  0.000743       31  0.001354
46                          bedrooms      5  0.000218     1027  0.044857
47                              beds     34  0.001485      103  0.004499
48                          bed_type      0  0.000000        0  0.000000
49                         amenities      0  0.000000        0  0.000000
50                             price      0  0.000000       21  0.000917
51                      weekly_price  20371  0.889758        0  0.000000
52                     monthly_price  21004  0.917406        0  0.000000
53                  security_deposit   7494  0.327320     3629  0.158506
54                      cleaning_fee   5646  0.246604     1460  0.063769
55                   guests_included      0  0.000000        0  0.000000
56                      extra_people      0  0.000000    11994  0.523870
57                    minimum_nights      0  0.000000        0  0.000000
58                    maximum_nights      0  0.000000        0  0.000000
59                  calendar_updated      0  0.000000        0  0.000000
60                  has_availability      0  0.000000        0  0.000000
61                   availability_30      0  0.000000     7708  0.336667
62                   availability_60      0  0.000000     6518  0.284691
63                   availability_90      0  0.000000     6080  0.265560
64                  availability_365      0  0.000000     5498  0.240140
65             calendar_last_scraped      0  0.000000        0  0.000000
66                 number_of_reviews      0  0.000000     5211  0.227604
67                      first_review   5242  0.228958        0  0.000000
68                       last_review   5242  0.228958        0  0.000000
69              review_scores_rating   5706  0.249225        0  0.000000
70            review_scores_accuracy   5720  0.249836        0  0.000000
71         review_scores_cleanliness   5713  0.249530        0  0.000000
72             review_scores_checkin   5734  0.250448        0  0.000000
73       review_scores_communication   5718  0.249749        0  0.000000
74            review_scores_location   5733  0.250404        0  0.000000
75               review_scores_value   5735  0.250491        0  0.000000
76                  requires_license      0  0.000000        0  0.000000
77                           license  22874  0.999083        0  0.000000
78                  instant_bookable      0  0.000000        0  0.000000
79               cancellation_policy      0  0.000000        0  0.000000
80     require_guest_profile_picture      0  0.000000        0  0.000000
81  require_guest_phone_verification      0  0.000000        0  0.000000
82    calculated_host_listings_count      0  0.000000        0  0.000000
83                 reviews_per_month   5242  0.228958        0  0.000000

    unique     type
0    22895    int64
1    22895   object
2        1  float64
3        2   object
4    22448   object
5    20681   object
6    15490   object
7    21677   object
8    12041   object
9     9024   object
10   12564   object
11   12345   object
12   11035   object
13   10795   object
14   22628   object
15   14988    int64
16   14988   object
17    5817   object
18    2815   object
19    1024   object
20    8045   object
21       4   object
22      57   object
23       2   object
24   14942   object
25   14942   object
26     114   object
27     364   object
28       2   object
29       2   object
30     637   object
31      59   object
32      30   object
33     542   object
34      27   object
35     247  float64
36     570   object
37       1   object
38       1   object
39   22874  float64
40   22700  float64
41       2   object
42      35   object
43       3   object
44      16    int64
45      20  float64
46      13  float64
47      20  float64
48       5   object
49   21715   object
50     458    int64
51     593  float64
52     634  float64
53     204  float64
54     239  float64
55      15    int64
56      97    int64
57      70    int64
58     208    int64
59      71   object
60       1   object
61      31    int64
62      61    int64
63      91    int64
64     366    int64
65       2   object
66     298    int64
67    1974   object
68    1189   object
69      47  float64
70       8  float64
71       9  float64
72       9  float64
73       9  float64
74       8  float64
75       9  float64
76       1   object
77       6   object
78       2   object
79       6   object
80       2   object
81       2   object
82      51    int64
83     851  float64

Aquí observamos que la columna `neighborhood` tiene 59 valores únicos y la columna `city` tiene 30, por lo que en este caso el cruce de ambas para la segunda query quedará más acotado que en el caso anterior. Además observamos que `neighborhood` tiene 5813 datos faltantes (un 25% del total). Vemos los 59 `neighborhood` y sus frecuencias:

In [ ]:
airbnb_df['neighborhood'].value_counts()

Central Business District     3726
Southbank                     1248
St Kilda                      1085
South Yarra                   1053
Brunswick                      728
Carlton                        585
Docklands                      576
Richmond                       547
Fitzroy                        381
Elwood                         309
Northcote                      309
Caulfield                      302
South Melbourne                292
North Melbourne                290
Collingwood                    283
Hawthorn                       261
Prahran                        257
Abbotsford                     254
Footscray                      253
Port Melbourne                 251
Fitzroy North                  231
Brighton                       205
St Kilda East                  200
Prahran/Windsor                195
East Melbourne                 188
Flemington                     178
Windsor                        167
Preston                        164
Carnegie                       150
Coburg                         148
Balaclava/Ripponlea            143
Carlton North                  138
Yarraville/Seddon              132
West Melbourne                 119
Toorak                         117
Malvern East                   117
Kew                            109
Kensington                     108
Bentleigh                      107
Thornbury                      106
Balwyn                          95
Camberwell                      92
Parkville                       85
Glen Iris                       82
Williamstown                    75
Albert Park                     74
Armadale                        71
Balwyn North                    61
Clifton Hill                    59
Burnley                         56
Alphington                      54
Middle Park                     50
Ormond/McKinnon                 46
Newport                         45
Malvern                         36
South Wharf                     24
Canterbury                      24
Spotswood/South Kingsville      23
Ashburton                       18
Name: neighborhood, dtype: int64

Vemos las 30 ciudades (`city`) y sus frecuencias:

In [ ]:
airbnb_df['city'].value_counts()

Melbourne            7368
Port Phillip         2808
Yarra                2049
Stonnington          1621
Moreland              967
Yarra Ranges          771
Darebin               698
Boroondara            664
Glen Eira             631
Whitehorse            614
Monash                571
Maribyrnong           436
Wyndham               426
Bayside               375
Moonee Valley         344
Manningham            313
Kingston              309
Hobsons Bay           239
Banyule               203
Frankston             177
Knox                  175
Hume                  170
Casey                 153
Greater Dandenong     147
Whittlesea            137
Cardinia              123
Maroondah             115
Brimbank              108
Melton                 95
Nillumbik              88
Name: city, dtype: int64

Generamos las queries requeridas en la consigna para cada dataset:

In [ ]:
query1_melb = """
SELECT CouncilArea as Ciudad, COUNT(1) as Registros
FROM melb_data 
GROUP BY 1
"""
query2_melb = """
SELECT CouncilArea as Ciudad, Suburb as Barrio, COUNT(1) as Registros
FROM melb_data 
GROUP BY 1,2
"""

query1_airbnb = """
SELECT city as Ciudad, COUNT(1) as Registros
FROM airbnb_data 
GROUP BY 1
"""


query2_airbnb = """
SELECT city as Ciudad, neighborhood as Barrio, COUNT(1) as Registros
FROM airbnb_data 
GROUP BY 1,2
"""

queries = [query1_melb, query2_melb, query1_airbnb, query2_airbnb]

Vemos los resultados de las queries que creamos:

In [ ]:
with engine.connect() as con:
    for query in queries:
      rs = con.execute(query)
      print(query)
      for row in rs:
          print(row)

      print('\n\n')

2022-05-01 13:40:48,387 INFO sqlalchemy.engine.Engine
SELECT CouncilArea as Ciudad, COUNT(1) as Registros
FROM melb_data
GROUP BY 1

2022-05-01 13:40:48,391 INFO sqlalchemy.engine.Engine [raw sql] ()

SELECT CouncilArea as Ciudad, COUNT(1) as Registros
FROM melb_data
GROUP BY 1

(None, 1369)
('Banyule', 594)
('Bayside', 489)
('Boroondara', 1160)
('Brimbank', 424)
('Cardinia', 8)
('Casey', 38)
('Darebin', 934)
('Frankston', 53)
('Glen Eira', 848)
('Greater Dandenong', 52)
('Hobsons Bay', 434)
('Hume', 164)
('Kingston', 207)
('Knox', 80)
('Macedon Ranges', 7)
('Manningham', 311)
('Maribyrnong', 692)
('Maroondah', 80)
('Melbourne', 470)
('Melton', 66)
('Monash', 333)
('Moonee Valley', 997)
('Moorabool', 1)
('Moreland', 1163)
('Nillumbik', 36)
('Port Phillip', 628)
('Stonnington', 719)
('Unavailable', 1)
('Whitehorse', 304)
('Whittlesea', 167)
('Wyndham', 86)
('Yarra', 647)
('Yarra Ranges', 18)



2022-05-01 13:40:48,428 INFO sqlalchemy.engine.Engine
SELECT CouncilArea as Ciudad, Suburb as Barrio, COUNT(1) as Registros
FROM melb_data
GROUP BY 1,2

2022-05-01 13:40:48,431 INFO sqlalchemy.engine.Engine [raw sql] ()

SELECT CouncilArea as Ciudad, Suburb as Barrio, COUNT(1) as Registros
FROM melb_data
GROUP BY 1,2

(None, 'Abbotsford', 1)
(None, 'Aberfeldie', 4)
(None, 'Airport West', 6)
(None, 'Albanvale', 2)
(None, 'Albert Park', 5)
(None, 'Albion', 3)
(None, 'Alphington', 2)
(None, 'Altona', 5)
(None, 'Altona Meadows', 2)
(None, 'Altona North', 7)
(None, 'Ardeer', 1)
(None, 'Armadale', 9)
(None, 'Ascot Vale', 5)
(None, 'Ashburton', 7)
(None, 'Ashwood', 1)
(None, 'Aspendale', 3)
(None, 'Aspendale Gardens', 2)
(None, 'Attwood', 1)
(None, 'Avondale Heights', 1)
(None, 'Balaclava', 2)
(None, 'Balwyn', 6)
(None, 'Balwyn North', 20)
(None, 'Bayswater', 2)
(None, 'Bayswater North', 3)
(None, 'Beaumaris', 7)
(None, 'Bellfield', 1)
(None, 'Bentleigh', 8)
(None, 'Bentleigh East', 15)
(None, 'Berwick', 2)
(None, 'Black Rock', 4)
(None, 'Blackburn', 8)
(None, 'Blackburn North', 7)
(None, 'Blackburn South', 4)
(None, 'Bonbeach', 3)
(None, 'Boronia', 2)
(None, 'Box Hill', 5)
(None, 'Braybrook', 2)
(None, 'Briar Hill', 3)
(None, 'Brighton', 10)
(None, 'Brighton East', 10)
(None, 'Broadmeadows', 6)
(None, 'Brooklyn', 1)
(None, 'Brunswick', 14)
(None, 'Brunswick East', 8)
(None, 'Brunswick West', 8)
(None, 'Bulleen', 6)
(None, 'Bundoora', 11)
(None, 'Burnside', 2)
(None, 'Burnside Heights', 1)
(None, 'Burwood', 9)
(None, 'Burwood East', 4)
(None, 'Camberwell', 8)
(None, 'Campbellfield', 1)
(None, 'Canterbury', 3)
(None, 'Carlton', 3)
(None, 'Carlton North', 4)
(None, 'Carnegie', 8)
(None, 'Caroline Springs', 2)
(None, 'Carrum Downs', 5)
(None, 'Caulfield East', 1)
(None, 'Caulfield South', 2)
(None, 'Chadstone', 1)
(None, 'Chelsea', 1)
(None, 'Chelsea Heights', 2)
(None, 'Cheltenham', 16)
(None, 'Clarinda', 2)
(None, 'Clayton', 2)
(None, 'Clayton South', 8)
(None, 'Clifton Hill', 5)
(None, 'Coburg', 14)
(None, 'Coburg North', 2)
(None, 'Collingwood', 3)
(None, 'Coolaroo', 2)
(None, 'Craigieburn', 16)
(None, 'Cranbourne', 1)
(None, 'Cremorne', 1)
(None, 'Croydon', 8)
(None, 'Croydon Hills', 2)
(None, 'Croydon North', 1)
(None, 'Dallas', 2)
(None, 'Dandenong', 2)
(None, 'Dandenong North', 3)
(None, 'Deer Park', 4)
(None, 'Delahey', 2)
(None, 'Derrimut', 2)
(None, 'Diamond Creek', 3)
(None, 'Dingley Village', 5)
(None, 'Doncaster', 8)
(None, 'Doncaster East', 14)
(None, 'Donvale', 5)
(None, 'Doreen', 3)
(None, 'Doveton', 2)
(None, 'Eaglemont', 1)
(None, 'Edithvale', 4)
(None, 'Elsternwick', 2)
(None, 'Eltham', 6)
(None, 'Eltham North', 4)
(None, 'Elwood', 5)
(None, 'Epping', 14)
(None, 'Essendon', 12)
(None, 'Essendon North', 2)
(None, 'Fairfield', 4)
(None, 'Fawkner', 5)
(None, 'Ferntree Gully', 8)
(None, 'Fitzroy', 6)
(None, 'Fitzroy North', 6)
(None, 'Flemington', 7)
(None, 'Footscray', 6)
(None, 'Forest Hill', 8)
(None, 'Frankston', 8)
(None, 'Frankston North', 1)
(None, 'Frankston South', 9)
(None, 'Gisborne', 3)
(None, 'Gladstone Park', 8)
(None, 'Glen Huntly', 1)
(None, 'Glen Iris', 23)
(None, 'Glen Waverley', 19)
(None, 'Glenroy', 15)
(None, 'Gowanbrae', 3)
(None, 'Greensborough', 10)
(None, 'Greenvale', 2)
(None, 'Hadfield', 1)
(None, 'Hallam', 1)
(None, 'Hampton', 14)
(None, 'Hampton East', 5)
(None, 'Hampton Park', 1)
(None, 'Hawthorn', 5)
(None, 'Hawthorn East', 4)
(None, 'Heathmont', 5)
(None, 'Heidelberg', 1)
(None, 'Heidelberg Heights', 2)
(None, 'Heidelberg West', 2)
(None, 'Highett', 7)
(None, 'Hillside', 5)
(None, 'Hoppers Crossing', 15)
(None, 'Huntingdale', 3)
(None, 'Hurstbridge', 1)
(None, 'Ivanhoe', 1)
(None, 'Ivanhoe East', 2)
(None, 'Jacana', 3)
(None, 'Kealba', 2)
(None, 'Keilor', 4)
(None, 'Keilor Downs', 4)
(None, 'Keilor East', 19)
(None, 'Keilor Lodge', 1)
(None, 'Keilor Park', 1)
(None, 'Kensington', 1)
(None, 'Kew', 20)
(None, 'Kew East', 11)
(None, 'Keysborough', 2)
(None, 'Kilsyth', 3)
(None, 'Kings Park', 1)
(None, 'Kingsville', 4)
(None, 'Kooyong', 1)
(None, 'Lalor', 14)
(None, 'Langwarrin', 1)
(None, 'Maidstone', 4)
(None, 'Malvern', 5)
(None, 'Malvern East', 6)
(None, 'Maribyrnong', 4)
(None, 'McKinnon', 3)
(None, 'Meadow Heights', 6)
(None, 'Melton', 4)
(None, 'Melton South', 3)
(None, 'Melton West', 3)
(None, 'Mentone', 10)
(None, 'Mernda', 3)
(None, 'Middle Park', 3)
(None, 'Mill Park', 10)
(None, 'Mitcham', 11)
(None, 'Monbulk', 1)
(None, 'Mont Albert', 3)
(None, 'Montmorency', 2)
(None, 'Moonee Ponds', 10)
(None, 'Moorabbin', 4)
(None, 'Mooroolbark', 3)
(None, 'Mordialloc', 3)
(None, 'Mount Evelyn', 1)
(None, 'Mount Waverley', 13)
(None, 'Mulgrave', 11)
(None, 'Murrumbeena', 2)
(None, 'Narre Warren', 1)
(None, 'New Gisborne', 1)
(None, 'Newport', 8)
(None, 'Niddrie', 9)
(None, 'North Melbourne', 5)
(None, 'North Warrandyte', 1)
(None, 'Northcote', 13)
(None, 'Notting Hill', 1)
(None, 'Nunawading', 2)
(None, 'Oak Park', 5)
(None, 'Oakleigh', 4)
(None, 'Oakleigh East', 1)
(None, 'Oakleigh South', 6)
(None, 'Ormond', 9)
(None, 'Parkdale', 7)
(None, 'Pascoe Vale', 10)
(None, 'Plumpton', 1)
(None, 'Point Cook', 4)
(None, 'Port Melbourne', 13)
(None, 'Prahran', 10)
(None, 'Preston', 10)
(None, 'Princes Hill', 1)
(None, 'Reservoir', 36)
(None, 'Richmond', 9)
(None, 'Ringwood', 7)
(None, 'Ringwood East', 3)
(None, 'Ringwood North', 3)
(None, 'Rosanna', 7)
(None, 'Roxburgh Park', 8)
(None, 'Sandringham', 8)
(None, 'Scoresby', 3)
(None, 'Seaford', 2)
(None, 'Seddon', 2)
(None, 'South Melbourne', 9)
(None, 'South Morang', 3)
(None, 'South Yarra', 5)
(None, 'Spotswood', 2)
(None, 'Springvale', 3)
(None, 'Springvale South', 2)
(None, 'St Albans', 5)
(None, 'St Helena', 1)
(None, 'St Kilda', 2)
(None, 'Strathmore', 5)
(None, 'Strathmore Heights', 1)
(None, 'Sunbury', 21)
(None, 'Sunshine', 2)
(None, 'Sunshine North', 8)
(None, 'Sunshine West', 5)
(None, 'Surrey Hills', 11)
(None, 'Tarneit', 1)
(None, 'Taylors Lakes', 4)
(None, 'Templestowe', 4)
(None, 'Templestowe Lower', 8)
(None, 'The Basin', 1)
(None, 'Thomastown', 5)
(None, 'Thornbury', 7)
(None, 'Toorak', 1)
(None, 'Truganina', 1)
(None, 'Tullamarine', 2)
(None, 'Vermont', 4)
(None, 'Vermont South', 5)
(None, 'Viewbank', 3)
(None, 'Wallan', 1)
(None, 'Wantirna', 5)
(None, 'Wantirna South', 9)
(None, 'Warrandyte', 2)
(None, 'Waterways', 1)
(None, 'Watsonia', 3)
(None, 'Watsonia North', 1)
(None, 'Werribee', 13)
(None, 'West Footscray', 9)
(None, 'West Melbourne', 2)
(None, 'Westmeadows', 3)
(None, 'Wheelers Hill', 13)
(None, 'Williams Landing', 1)
(None, 'Williamstown', 7)
(None, 'Williamstown North', 1)
(None, 'Windsor', 5)
(None, 'Wollert', 3)
(None, 'Wyndham Vale', 1)
(None, 'Yallambie', 1)
(None, 'Yarraville', 10)
('Banyule', 'Bellfield', 15)
('Banyule', 'Briar Hill', 5)
('Banyule', 'Bundoora', 13)
('Banyule', 'Eaglemont', 22)
('Banyule', 'Eltham North', 2)
('Banyule', 'Greensborough', 21)
('Banyule', 'Heidelberg', 50)
('Banyule', 'Heidelberg Heights', 76)
('Banyule', 'Heidelberg West', 74)
('Banyule', 'Ivanhoe', 97)
('Banyule', 'Ivanhoe East', 23)
('Banyule', 'Lower Plenty', 5)
('Banyule', 'Montmorency', 15)
('Banyule', 'Preston', 1)
('Banyule', 'Rosanna', 54)
('Banyule', 'St Helena', 2)
('Banyule', 'Viewbank', 38)
('Banyule', 'Watsonia', 49)
('Banyule', 'Watsonia North', 9)
('Banyule', 'Yallambie', 23)
('Bayside', 'Beaumaris', 11)
('Bayside', 'Black Rock', 8)
('Bayside', 'Brighton', 176)
('Bayside', 'Brighton East', 124)
('Bayside', 'Cheltenham', 4)
('Bayside', 'Hampton', 115)
('Bayside', 'Hampton East', 18)
('Bayside', 'Highett', 16)
('Bayside', 'Sandringham', 17)
('Boroondara', 'Ashburton', 53)
('Boroondara', 'Balwyn', 101)
('Boroondara', 'Balwyn North', 151)
('Boroondara', 'Camberwell', 124)
('Boroondara', 'Canterbury', 51)
('Boroondara', 'Deepdene', 2)
('Boroondara', 'Glen Iris', 117)
('Boroondara', 'Hawthorn', 186)
('Boroondara', 'Hawthorn East', 115)
('Boroondara', 'Kew', 157)
('Boroondara', 'Kew East', 38)
('Boroondara', 'Mont Albert', 1)
('Boroondara', 'Surrey Hills', 64)
('Brimbank', 'Albanvale', 4)
('Brimbank', 'Albion', 38)
('Brimbank', 'Ardeer', 2)
('Brimbank', 'Brooklyn', 1)
('Brimbank', 'Cairnlea', 7)
('Brimbank', 'Deer Park', 10)
('Brimbank', 'Delahey', 4)
('Brimbank', 'Derrimut', 3)
('Brimbank', 'Hillside', 1)
('Brimbank', 'Kealba', 17)
('Brimbank', 'Keilor', 5)
('Brimbank', 'Keilor Downs', 11)
('Brimbank', 'Keilor East', 2)
('Brimbank', 'Keilor Lodge', 1)
('Brimbank', 'Keilor Park', 21)
('Brimbank', 'Kings Park', 4)
('Brimbank', 'St Albans', 20)
('Brimbank', 'Sunshine', 109)
('Brimbank', 'Sunshine North', 60)
('Brimbank', 'Sunshine West', 81)
('Brimbank', 'Sydenham', 5)
('Brimbank', 'Taylors Lakes', 18)
('Cardinia', 'Beaconsfield', 2)
('Cardinia', 'Beaconsfield Upper', 1)
('Cardinia', 'Emerald', 1)
('Cardinia', 'Officer', 1)
('Cardinia', 'Pakenham', 3)
('Casey', 'Berwick', 11)
('Casey', 'Cranbourne', 2)
('Casey', 'Cranbourne North', 2)
('Casey', 'Doveton', 5)
('Casey', 'Endeavour Hills', 5)
('Casey', 'Hallam', 4)
('Casey', 'Hampton Park', 3)
('Casey', 'Narre Warren', 6)
('Darebin', 'Alphington', 25)
('Darebin', 'Bundoora', 2)
('Darebin', 'Coburg North', 1)
('Darebin', 'Fairfield', 35)
('Darebin', 'Kingsbury', 13)
('Darebin', 'Northcote', 175)
('Darebin', 'Preston', 228)
('Darebin', 'Reservoir', 323)
('Darebin', 'Thornbury', 132)
('Frankston', 'Carrum Downs', 7)
('Frankston', 'Frankston', 16)
('Frankston', 'Frankston North', 3)
('Frankston', 'Frankston South', 7)
('Frankston', 'Langwarrin', 5)
('Frankston', 'Sandhurst', 1)
('Frankston', 'Seaford', 12)
('Frankston', 'Skye', 2)
('Glen Eira', 'Bentleigh', 131)
('Glen Eira', 'Bentleigh East', 234)
('Glen Eira', 'Brighton East', 4)
('Glen Eira', 'Carnegie', 138)
('Glen Eira', 'Caulfield', 12)
('Glen Eira', 'Caulfield East', 8)
('Glen Eira', 'Caulfield North', 35)
('Glen Eira', 'Caulfield South', 45)
('Glen Eira', 'Elsternwick', 59)
('Glen Eira', 'Elwood', 1)
('Glen Eira', 'Gardenvale', 6)
('Glen Eira', 'Glen Huntly', 16)
('Glen Eira', 'McKinnon', 5)
('Glen Eira', 'Murrumbeena', 80)
('Glen Eira', 'Ormond', 74)
('Greater Dandenong', 'Dandenong', 11)
('Greater Dandenong', 'Dandenong North', 13)
('Greater Dandenong', 'Keysborough', 9)
('Greater Dandenong', 'Noble Park', 12)
('Greater Dandenong', 'Springvale', 6)
('Greater Dandenong', 'Springvale South', 1)
('Hobsons Bay', 'Altona', 69)
('Hobsons Bay', 'Altona Meadows', 4)
('Hobsons Bay', 'Altona North', 49)
('Hobsons Bay', 'Brooklyn', 7)
('Hobsons Bay', 'Newport', 129)
('Hobsons Bay', 'Seabrook', 3)
('Hobsons Bay', 'Seaholme', 6)
('Hobsons Bay', 'South Kingsville', 22)
('Hobsons Bay', 'Spotswood', 27)
('Hobsons Bay', 'Williamstown', 100)
('Hobsons Bay', 'Williamstown North', 18)
('Hume', 'Broadmeadows', 17)
('Hume', 'Campbellfield', 3)
('Hume', 'Coolaroo', 2)
('Hume', 'Craigieburn', 31)
('Hume', 'Dallas', 4)
('Hume', 'Fawkner', 1)
('Hume', 'Gladstone Park', 12)
('Hume', 'Greenvale', 15)
('Hume', 'Jacana', 22)
('Hume', 'Meadow Heights', 11)
('Hume', 'Roxburgh Park', 7)
('Hume', 'Sunbury', 17)
('Hume', 'Tullamarine', 11)
('Hume', 'Westmeadows', 11)
('Kingston', 'Aspendale', 4)
('Kingston', 'Aspendale Gardens', 2)
('Kingston', 'Bonbeach', 1)
('Kingston', 'Carrum', 9)
('Kingston', 'Chelsea', 4)
('Kingston', 'Chelsea Heights', 2)
('Kingston', 'Cheltenham', 26)
('Kingston', 'Clarinda', 2)
('Kingston', 'Clayton South', 3)
('Kingston', 'Dingley Village', 16)
('Kingston', 'Edithvale', 5)
('Kingston', 'Hampton East', 2)
('Kingston', 'Highett', 4)
('Kingston', 'Mentone', 16)
('Kingston', 'Moorabbin', 60)
('Kingston', 'Mordialloc', 15)
('Kingston', 'Oakleigh South', 18)
('Kingston', 'Parkdale', 17)
('Kingston', 'Waterways', 1)
('Knox', 'Bayswater', 12)
('Knox', 'Boronia', 12)
('Knox', 'Ferntree Gully', 14)
('Knox', 'Knoxfield', 4)
('Knox', 'Rowville', 10)
('Knox', 'Scoresby', 5)
('Knox', 'The Basin', 3)
('Knox', 'Wantirna', 7)
('Knox', 'Wantirna South', 13)
('Macedon Ranges', 'Bullengarook', 1)
('Macedon Ranges', 'Gisborne', 5)
('Macedon Ranges', 'Riddells Creek', 1)
('Manningham', 'Bulleen', 65)
('Manningham', 'Doncaster', 108)
('Manningham', 'Doncaster East', 27)
('Manningham', 'Donvale', 8)
('Manningham', 'Templestowe', 15)
('Manningham', 'Templestowe Lower', 84)
('Manningham', 'Warrandyte', 3)
('Manningham', 'Wonga Park', 1)
('Maribyrnong', 'Braybrook', 44)
('Maribyrnong', 'Footscray', 126)
('Maribyrnong', 'Kingsville', 30)
('Maribyrnong', 'Maidstone', 90)
('Maribyrnong', 'Maribyrnong', 92)
('Maribyrnong', 'Seddon', 60)
('Maribyrnong', 'West Footscray', 96)
('Maribyrnong', 'Yarraville', 154)
('Maroondah', 'Bayswater North', 5)
('Maroondah', 'Croydon', 25)
('Maroondah', 'Croydon Hills', 2)
('Maroondah', 'Croydon North', 6)
('Maroondah', 'Croydon South', 1)
('Maroondah', 'Heathmont', 11)
('Maroondah', 'Kilsyth', 1)
('Maroondah', 'Ringwood', 13)
('Maroondah', 'Ringwood East', 9)
('Maroondah', 'Ringwood North', 7)
('Melbourne', 'Carlton', 48)
('Melbourne', 'Docklands', 3)
('Melbourne', 'East Melbourne', 22)
('Melbourne', 'Flemington', 1)
('Melbourne', 'Kensington', 111)
('Melbourne', 'Melbourne', 46)
('Melbourne', 'North Melbourne', 76)
('Melbourne', 'Parkville', 31)
('Melbourne', 'Port Melbourne', 23)
('Melbourne', 'South Yarra', 40)
('Melbourne', 'Southbank', 40)
('Melbourne', 'West Melbourne', 29)
('Melton', 'Brookfield', 1)
('Melton', 'Burnside Heights', 2)
('Melton', 'Caroline Springs', 9)
('Melton', 'Diggers Rest', 2)
('Melton', 'Hillside', 12)
('Melton', 'Kurunjang', 4)
('Melton', 'Melton', 8)
('Melton', 'Melton South', 15)
('Melton', 'Melton West', 5)
('Melton', 'Rockbank', 1)
('Melton', 'Taylors Hill', 7)
('Monash', 'Ashwood', 45)
('Monash', 'Burwood', 14)
('Monash', 'Chadstone', 34)
('Monash', 'Clayton', 11)
('Monash', 'Glen Waverley', 26)
('Monash', 'Hughesdale', 35)
('Monash', 'Huntingdale', 4)
('Monash', 'Mount Waverley', 44)
('Monash', 'Mulgrave', 18)
('Monash', 'Notting Hill', 2)
('Monash', 'Oakleigh', 43)
('Monash', 'Oakleigh East', 10)
('Monash', 'Oakleigh South', 34)
('Monash', 'Wheelers Hill', 13)
('Moonee Valley', 'Aberfeldie', 40)
('Moonee Valley', 'Airport West', 61)
('Moonee Valley', 'Ascot Vale', 125)
('Moonee Valley', 'Avondale Heights', 73)
('Moonee Valley', 'Essendon', 208)
('Moonee Valley', 'Essendon North', 20)
('Moonee Valley', 'Essendon West', 26)
('Moonee Valley', 'Flemington', 54)
('Moonee Valley', 'Keilor East', 100)
('Moonee Valley', 'Kensington', 5)
('Moonee Valley', 'Moonee Ponds', 139)
('Moonee Valley', 'Niddrie', 73)
('Moonee Valley', 'Strathmore', 58)
('Moonee Valley', 'Strathmore Heights', 5)
('Moonee Valley', 'Travancore', 10)
('Moorabool', 'Bacchus Marsh', 1)
('Moreland', 'Brunswick', 208)
('Moreland', 'Brunswick East', 80)
('Moreland', 'Brunswick West', 102)
('Moreland', 'Coburg', 176)
('Moreland', 'Coburg North', 53)
('Moreland', 'Fawkner', 96)
('Moreland', 'Fitzroy North', 3)
('Moreland', 'Glenroy', 144)
('Moreland', 'Gowanbrae', 21)
('Moreland', 'Hadfield', 61)
('Moreland', 'Oak Park', 58)
('Moreland', 'Pascoe Vale', 161)
('Nillumbik', 'Diamond Creek', 3)
('Nillumbik', 'Eltham', 19)
('Nillumbik', 'Eltham North', 7)
('Nillumbik', 'Greensborough', 5)
('Nillumbik', 'Hurstbridge', 1)
('Nillumbik', 'North Warrandyte', 1)
('Port Phillip', 'Albert Park', 64)
('Port Phillip', 'Balaclava', 25)
('Port Phillip', 'Elwood', 125)
('Port Phillip', 'Middle Park', 31)
('Port Phillip', 'Port Melbourne', 117)
('Port Phillip', 'Ripponlea', 9)
('Port Phillip', 'South Melbourne', 76)
('Port Phillip', 'Southbank', 1)
('Port Phillip', 'St Kilda', 160)
('Port Phillip', 'Windsor', 20)
('Stonnington', 'Armadale', 86)
('Stonnington', 'Glen Iris', 55)
('Stonnington', 'Kooyong', 1)
('Stonnington', 'Malvern', 62)
('Stonnington', 'Malvern East', 111)
('Stonnington', 'Prahran', 113)
('Stonnington', 'South Yarra', 157)
('Stonnington', 'Toorak', 99)
('Stonnington', 'Windsor', 35)
('Unavailable', 'Hampton', 1)
('Whitehorse', 'Blackburn', 13)
('Whitehorse', 'Blackburn North', 7)
('Whitehorse', 'Blackburn South', 8)
('Whitehorse', 'Box Hill', 54)
('Whitehorse', 'Burwood', 61)
('Whitehorse', 'Burwood East', 12)
('Whitehorse', 'Forest Hill', 14)
('Whitehorse', 'Mitcham', 19)
('Whitehorse', 'Mont Albert', 30)
('Whitehorse', 'Nunawading', 18)
('Whitehorse', 'Surrey Hills', 50)
('Whitehorse', 'Vermont', 10)
('Whitehorse', 'Vermont South', 8)
('Whittlesea', 'Bundoora', 10)
('Whittlesea', 'Doreen', 3)
('Whittlesea', 'Epping', 38)
('Whittlesea', 'Lalor', 28)
('Whittlesea', 'Mernda', 6)
('Whittlesea', 'Mill Park', 33)
('Whittlesea', 'South Morang', 18)
('Whittlesea', 'Thomastown', 24)
('Whittlesea', 'Whittlesea', 1)
('Whittlesea', 'Wollert', 6)
('Wyndham', 'Hoppers Crossing', 23)
('Wyndham', 'Point Cook', 9)
('Wyndham', 'Tarneit', 9)
('Wyndham', 'Truganina', 4)
('Wyndham', 'Werribee', 37)
('Wyndham', 'Williams Landing', 1)
('Wyndham', 'Wyndham Vale', 3)
('Yarra', 'Abbotsford', 55)
('Yarra', 'Alphington', 7)
('Yarra', 'Burnley', 7)
('Yarra', 'Carlton North', 44)
('Yarra', 'Clifton Hill', 52)
('Yarra', 'Collingwood', 62)
('Yarra', 'Cremorne', 24)
('Yarra', 'Fairfield', 4)
('Yarra', 'Fitzroy', 53)
('Yarra', 'Fitzroy North', 84)
('Yarra', 'Princes Hill', 4)
('Yarra', 'Richmond', 251)
('Yarra Ranges', 'Chirnside Park', 2)
('Yarra Ranges', 'Healesville', 1)
('Yarra Ranges', 'Montrose', 1)
('Yarra Ranges', 'Mooroolbark', 9)
('Yarra Ranges', 'Mount Evelyn', 1)
('Yarra Ranges', 'Silvan', 2)
('Yarra Ranges', 'Upwey', 1)
('Yarra Ranges', 'Yarra Glen', 1)



2022-05-01 13:40:48,671 INFO sqlalchemy.engine.Engine
SELECT city as Ciudad, COUNT(1) as Registros
FROM airbnb_data
GROUP BY 1

2022-05-01 13:40:48,673 INFO sqlalchemy.engine.Engine [raw sql] ()

SELECT city as Ciudad, COUNT(1) as Registros
FROM airbnb_data
GROUP BY 1

('Banyule', 203)
('Bayside', 375)
('Boroondara', 664)
('Brimbank', 108)
('Cardinia', 123)
('Casey', 153)
('Darebin', 698)
('Frankston', 177)
('Glen Eira', 631)
('Greater Dandenong', 147)
('Hobsons Bay', 239)
('Hume', 170)
('Kingston', 309)
('Knox', 175)
('Manningham', 313)
('Maribyrnong', 436)
('Maroondah', 115)
('Melbourne', 7368)
('Melton', 95)
('Monash', 571)
('Moonee Valley', 344)
('Moreland', 967)
('Nillumbik', 88)
('Port Phillip', 2808)
('Stonnington', 1621)
('Whitehorse', 614)
('Whittlesea', 137)
('Wyndham', 426)
('Yarra', 2049)
('Yarra Ranges', 771)



2022-05-01 13:40:48,774 INFO sqlalchemy.engine.Engine
SELECT city as Ciudad, neighborhood as Barrio, COUNT(1) as Registros
FROM airbnb_data
GROUP BY 1,2

2022-05-01 13:40:48,775 INFO sqlalchemy.engine.Engine [raw sql] ()

SELECT city as Ciudad, neighborhood as Barrio, COUNT(1) as Registros
FROM airbnb_data
GROUP BY 1,2

('Banyule', None, 174)
('Banyule', 'Alphington', 16)
('Banyule', 'Preston', 8)
('Banyule', 'Thornbury', 5)
('Bayside', None, 170)
('Bayside', 'Bentleigh', 1)
('Bayside', 'Brighton', 203)
('Bayside', 'Elwood', 1)
('Boroondara', None, 30)
('Boroondara', 'Ashburton', 14)
('Boroondara', 'Balwyn', 70)
('Boroondara', 'Balwyn North', 40)
('Boroondara', 'Camberwell', 82)
('Boroondara', 'Canterbury', 24)
('Boroondara', 'Glen Iris', 32)
('Boroondara', 'Hawthorn', 261)
('Boroondara', 'Kew', 109)
('Boroondara', 'Malvern', 2)
('Brimbank', None, 108)
('Cardinia', None, 123)

Como ya habíamos observado, la segunda query de melb_data muestra varios barrios dentro sin ciudad (CouncilArea = `None`), y la segunda query de airbnb_data muestra varias ciudades sin barrio (Neighborhood = `None`). Podríamos plantearnos queries alternativas que excluyan dichos valores:

In [ ]:
query3_melb = """
SELECT CouncilArea as Ciudad, Suburb as Barrio, COUNT(1) as Registros
FROM melb_data 
WHERE CouncilArea != 'None'
GROUP BY 1,2
"""

query3_airbnb = """
SELECT city as Ciudad, neighborhood as Barrio, COUNT(1) as Registros
FROM airbnb_data 
WHERE neighborhood != 'None'
GROUP BY 1,2
"""

alt_queries = [query3_melb, query3_airbnb]

In [ ]:
with engine.connect() as con:
    for query in alt_queries:
      rs = con.execute(query)
      print(query)
      for row in rs:
          print(row)

      print('\n\n')

2022-05-01 13:40:48,967 INFO sqlalchemy.engine.Engine
SELECT CouncilArea as Ciudad, Suburb as Barrio, COUNT(1) as Registros
FROM melb_data
WHERE CouncilArea != 'None'
GROUP BY 1,2

2022-05-01 13:40:48,971 INFO sqlalchemy.engine.Engine [raw sql] ()

SELECT CouncilArea as Ciudad, Suburb as Barrio, COUNT(1) as Registros
FROM melb_data
WHERE CouncilArea != 'None'
GROUP BY 1,2

('Banyule', 'Bellfield', 15)
('Banyule', 'Briar Hill', 5)
('Banyule', 'Bundoora', 13)
('Banyule', 'Eaglemont', 22)
('Banyule', 'Eltham North', 2)
('Banyule', 'Greensborough', 21)
('Banyule', 'Heidelberg', 50)
('Banyule', 'Heidelberg Heights', 76)
('Banyule', 'Heidelberg West', 74)
('Banyule', 'Ivanhoe', 97)
('Banyule', 'Ivanhoe East', 23)
('Banyule', 'Lower Plenty', 5)
('Banyule', 'Montmorency', 15)
('Banyule', 'Preston', 1)
('Banyule', 'Rosanna', 54)
('Banyule', 'St Helena', 2)
('Banyule', 'Viewbank', 38)
('Banyule', 'Watsonia', 49)
('Banyule', 'Watsonia North', 9)
('Banyule', 'Yallambie', 23)
('Bayside', 'Beaumaris', 11)
('Bayside', 'Black Rock', 8)
('Bayside', 'Brighton', 176)
('Bayside', 'Brighton East', 124)
('Bayside', 'Cheltenham', 4)
('Bayside', 'Hampton', 115)
('Bayside', 'Hampton East', 18)
('Bayside', 'Highett', 16)
('Bayside', 'Sandringham', 17)
('Boroondara', 'Ashburton', 53)
('Boroondara', 'Balwyn', 101)
('Boroondara', 'Balwyn North', 151)
('Boroondara', 'Camberwell', 124)
('Boroondara', 'Canterbury', 51)
('Boroondara', 'Deepdene', 2)
('Boroondara', 'Glen Iris', 117)
('Boroondara', 'Hawthorn', 186)
('Boroondara', 'Hawthorn East', 115)
('Boroondara', 'Kew', 157)
('Boroondara', 'Kew East', 38)
('Boroondara', 'Mont Albert', 1)
('Boroondara', 'Surrey Hills', 64)
('Brimbank', 'Albanvale', 4)
('Brimbank', 'Albion', 38)
('Brimbank', 'Ardeer', 2)
('Brimbank', 'Brooklyn', 1)
('Brimbank', 'Cairnlea', 7)
('Brimbank', 'Deer Park', 10)
('Brimbank', 'Delahey', 4)
('Brimbank', 'Derrimut', 3)
('Brimbank', 'Hillside', 1)
('Brimbank', 'Kealba', 17)
('Brimbank', 'Keilor', 5)
('Brimbank', 'Keilor Downs', 11)
('Brimbank', 'Keilor East', 2)
('Brimbank', 'Keilor Lodge', 1)
('Brimbank', 'Keilor Park', 21)
('Brimbank', 'Kings Park', 4)
('Brimbank', 'St Albans', 20)
('Brimbank', 'Sunshine', 109)
('Brimbank', 'Sunshine North', 60)
('Brimbank', 'Sunshine West', 81)
('Brimbank', 'Sydenham', 5)
('Brimbank', 'Taylors Lakes', 18)
('Cardinia', 'Beaconsfield', 2)
('Cardinia', 'Beaconsfield Upper', 1)
('Cardinia', 'Emerald', 1)
('Cardinia', 'Officer', 1)
('Cardinia', 'Pakenham', 3)
('Casey', 'Berwick', 11)
('Casey', 'Cranbourne', 2)
('Casey', 'Cranbourne North', 2)
('Casey', 'Doveton', 5)
('Casey', 'Endeavour Hills', 5)
('Casey', 'Hallam', 4)
('Casey', 'Hampton Park', 3)
('Casey', 'Narre Warren', 6)
('Darebin', 'Alphington', 25)
('Darebin', 'Bundoora', 2)
('Darebin', 'Coburg North', 1)
('Darebin', 'Fairfield', 35)
('Darebin', 'Kingsbury', 13)
('Darebin', 'Northcote', 175)
('Darebin', 'Preston', 228)
('Darebin', 'Reservoir', 323)
('Darebin', 'Thornbury', 132)
('Frankston', 'Carrum Downs', 7)
('Frankston', 'Frankston', 16)
('Frankston', 'Frankston North', 3)
('Frankston', 'Frankston South', 7)
('Frankston', 'Langwarrin', 5)
('Frankston', 'Sandhurst', 1)
('Frankston', 'Seaford', 12)
('Frankston', 'Skye', 2)
('Glen Eira', 'Bentleigh', 131)
('Glen Eira', 'Bentleigh East', 234)
('Glen Eira', 'Brighton East', 4)
('Glen Eira', 'Carnegie', 138)
('Glen Eira', 'Caulfield', 12)
('Glen Eira', 'Caulfield East', 8)
('Glen Eira', 'Caulfield North', 35)
('Glen Eira', 'Caulfield South', 45)
('Glen Eira', 'Elsternwick', 59)
('Glen Eira', 'Elwood', 1)
('Glen Eira', 'Gardenvale', 6)
('Glen Eira', 'Glen Huntly', 16)
('Glen Eira', 'McKinnon', 5)
('Glen Eira', 'Murrumbeena', 80)
('Glen Eira', 'Ormond', 74)
('Greater Dandenong', 'Dandenong', 11)
('Greater Dandenong', 'Dandenong North', 13)
('Greater Dandenong', 'Keysborough', 9)
('Greater Dandenong', 'Noble Park', 12)
('Greater Dandenong', 'Springvale', 6)
('Greater Dandenong', 'Springvale South', 1)
('Hobsons Bay', 'Altona', 69)
('Hobsons Bay', 'Altona Meadows', 4)
('Hobsons Bay', 'Altona North', 49)
('Hobsons Bay', 'Brooklyn', 7)
('Hobsons Bay', 'Newport', 129)
('Hobsons Bay', 'Seabrook', 3)
('Hobsons Bay', 'Seaholme', 6)
('Hobsons Bay', 'South Kingsville', 22)
('Hobsons Bay', 'Spotswood', 27)
('Hobsons Bay', 'Williamstown', 100)
('Hobsons Bay', 'Williamstown North', 18)
('Hume', 'Broadmeadows', 17)
('Hume', 'Campbellfield', 3)
('Hume', 'Coolaroo', 2)
('Hume', 'Craigieburn', 31)
('Hume', 'Dallas', 4)
('Hume', 'Fawkner', 1)
('Hume', 'Gladstone Park', 12)
('Hume', 'Greenvale', 15)
('Hume', 'Jacana', 22)
('Hume', 'Meadow Heights', 11)
('Hume', 'Roxburgh Park', 7)
('Hume', 'Sunbury', 17)
('Hume', 'Tullamarine', 11)
('Hume', 'Westmeadows', 11)
('Kingston', 'Aspendale', 4)
('Kingston', 'Aspendale Gardens', 2)
('Kingston', 'Bonbeach', 1)
('Kingston', 'Carrum', 9)
('Kingston', 'Chelsea', 4)
('Kingston', 'Chelsea Heights', 2)
('Kingston', 'Cheltenham', 26)
('Kingston', 'Clarinda', 2)
('Kingston', 'Clayton South', 3)
('Kingston', 'Dingley Village', 16)
('Kingston', 'Edithvale', 5)
('Kingston', 'Hampton East', 2)
('Kingston', 'Highett', 4)
('Kingston', 'Mentone', 16)
('Kingston', 'Moorabbin', 60)
('Kingston', 'Mordialloc', 15)
('Kingston', 'Oakleigh South', 18)
('Kingston', 'Parkdale', 17)
('Kingston', 'Waterways', 1)
('Knox', 'Bayswater', 12)
('Knox', 'Boronia', 12)
('Knox', 'Ferntree Gully', 14)
('Knox', 'Knoxfield', 4)
('Knox', 'Rowville', 10)
('Knox', 'Scoresby', 5)
('Knox', 'The Basin', 3)
('Knox', 'Wantirna', 7)
('Knox', 'Wantirna South', 13)
('Macedon Ranges', 'Bullengarook', 1)
('Macedon Ranges', 'Gisborne', 5)
('Macedon Ranges', 'Riddells Creek', 1)
('Manningham', 'Bulleen', 65)
('Manningham', 'Doncaster', 108)
('Manningham', 'Doncaster East', 27)
('Manningham', 'Donvale', 8)
('Manningham', 'Templestowe', 15)
('Manningham', 'Templestowe Lower', 84)
('Manningham', 'Warrandyte', 3)
('Manningham', 'Wonga Park', 1)
('Maribyrnong', 'Braybrook', 44)
('Maribyrnong', 'Footscray', 126)
('Maribyrnong', 'Kingsville', 30)
('Maribyrnong', 'Maidstone', 90)
('Maribyrnong', 'Maribyrnong', 92)
('Maribyrnong', 'Seddon', 60)
('Maribyrnong', 'West Footscray', 96)
('Maribyrnong', 'Yarraville', 154)
('Maroondah', 'Bayswater North', 5)
('Maroondah', 'Croydon', 25)
('Maroondah', 'Croydon Hills', 2)
('Maroondah', 'Croydon North', 6)
('Maroondah', 'Croydon South', 1)
('Maroondah', 'Heathmont', 11)
('Maroondah', 'Kilsyth', 1)
('Maroondah', 'Ringwood', 13)
('Maroondah', 'Ringwood East', 9)
('Maroondah', 'Ringwood North', 7)
('Melbourne', 'Carlton', 48)
('Melbourne', 'Docklands', 3)
('Melbourne', 'East Melbourne', 22)
('Melbourne', 'Flemington', 1)
('Melbourne', 'Kensington', 111)
('Melbourne', 'Melbourne', 46)
('Melbourne', 'North Melbourne', 76)
('Melbourne', 'Parkville', 31)
('Melbourne', 'Port Melbourne', 23)
('Melbourne', 'South Yarra', 40)
('Melbourne', 'Southbank', 40)
('Melbourne', 'West Melbourne', 29)
('Melton', 'Brookfield', 1)
('Melton', 'Burnside Heights', 2)
('Melton', 'Caroline Springs', 9)
('Melton', 'Diggers Rest', 2)
('Melton', 'Hillside', 12)
('Melton', 'Kurunjang', 4)
('Melton', 'Melton', 8)
('Melton', 'Melton South', 15)
('Melton', 'Melton West', 5)
('Melton', 'Rockbank', 1)
('Melton', 'Taylors Hill', 7)
('Monash', 'Ashwood', 45)
('Monash', 'Burwood', 14)
('Monash', 'Chadstone', 34)
('Monash', 'Clayton', 11)
('Monash', 'Glen Waverley', 26)
('Monash', 'Hughesdale', 35)
('Monash', 'Huntingdale', 4)
('Monash', 'Mount Waverley', 44)
('Monash', 'Mulgrave', 18)
('Monash', 'Notting Hill', 2)
('Monash', 'Oakleigh', 43)
('Monash', 'Oakleigh East', 10)
('Monash', 'Oakleigh South', 34)
('Monash', 'Wheelers Hill', 13)
('Moonee Valley', 'Aberfeldie', 40)
('Moonee Valley', 'Airport West', 61)
('Moonee Valley', 'Ascot Vale', 125)
('Moonee Valley', 'Avondale Heights', 73)
('Moonee Valley', 'Essendon', 208)
('Moonee Valley', 'Essendon North', 20)
('Moonee Valley', 'Essendon West', 26)
('Moonee Valley', 'Flemington', 54)
('Moonee Valley', 'Keilor East', 100)
('Moonee Valley', 'Kensington', 5)
('Moonee Valley', 'Moonee Ponds', 139)
('Moonee Valley', 'Niddrie', 73)
('Moonee Valley', 'Strathmore', 58)
('Moonee Valley', 'Strathmore Heights', 5)
('Moonee Valley', 'Travancore', 10)
('Moorabool', 'Bacchus Marsh', 1)
('Moreland', 'Brunswick', 208)
('Moreland', 'Brunswick East', 80)
('Moreland', 'Brunswick West', 102)
('Moreland', 'Coburg', 176)
('Moreland', 'Coburg North', 53)
('Moreland', 'Fawkner', 96)
('Moreland', 'Fitzroy North', 3)
('Moreland', 'Glenroy', 144)
('Moreland', 'Gowanbrae', 21)
('Moreland', 'Hadfield', 61)
('Moreland', 'Oak Park', 58)
('Moreland', 'Pascoe Vale', 161)
('Nillumbik', 'Diamond Creek', 3)
('Nillumbik', 'Eltham', 19)
('Nillumbik', 'Eltham North', 7)
('Nillumbik', 'Greensborough', 5)
('Nillumbik', 'Hurstbridge', 1)
('Nillumbik', 'North Warrandyte', 1)
('Port Phillip', 'Albert Park', 64)
('Port Phillip', 'Balaclava', 25)
('Port Phillip', 'Elwood', 125)
('Port Phillip', 'Middle Park', 31)
('Port Phillip', 'Port Melbourne', 117)
('Port Phillip', 'Ripponlea', 9)
('Port Phillip', 'South Melbourne', 76)
('Port Phillip', 'Southbank', 1)
('Port Phillip', 'St Kilda', 160)
('Port Phillip', 'Windsor', 20)
('Stonnington', 'Armadale', 86)
('Stonnington', 'Glen Iris', 55)
('Stonnington', 'Kooyong', 1)
('Stonnington', 'Malvern', 62)
('Stonnington', 'Malvern East', 111)
('Stonnington', 'Prahran', 113)
('Stonnington', 'South Yarra', 157)
('Stonnington', 'Toorak', 99)
('Stonnington', 'Windsor', 35)
('Unavailable', 'Hampton', 1)
('Whitehorse', 'Blackburn', 13)
('Whitehorse', 'Blackburn North', 7)
('Whitehorse', 'Blackburn South', 8)
('Whitehorse', 'Box Hill', 54)
('Whitehorse', 'Burwood', 61)
('Whitehorse', 'Burwood East', 12)
('Whitehorse', 'Forest Hill', 14)
('Whitehorse', 'Mitcham', 19)
('Whitehorse', 'Mont Albert', 30)
('Whitehorse', 'Nunawading', 18)
('Whitehorse', 'Surrey Hills', 50)
('Whitehorse', 'Vermont', 10)
('Whitehorse', 'Vermont South', 8)
('Whittlesea', 'Bundoora', 10)
('Whittlesea', 'Doreen', 3)
('Whittlesea', 'Epping', 38)
('Whittlesea', 'Lalor', 28)
('Whittlesea', 'Mernda', 6)
('Whittlesea', 'Mill Park', 33)
('Whittlesea', 'South Morang', 18)
('Whittlesea', 'Thomastown', 24)
('Whittlesea', 'Whittlesea', 1)
('Whittlesea', 'Wollert', 6)
('Wyndham', 'Hoppers Crossing', 23)
('Wyndham', 'Point Cook', 9)
('Wyndham', 'Tarneit', 9)
('Wyndham', 'Truganina', 4)
('Wyndham', 'Werribee', 37)
('Wyndham', 'Williams Landing', 1)
('Wyndham', 'Wyndham Vale', 3)
('Yarra', 'Abbotsford', 55)
('Yarra', 'Alphington', 7)
('Yarra', 'Burnley', 7)
('Yarra', 'Carlton North', 44)
('Yarra', 'Clifton Hill', 52)
('Yarra', 'Collingwood', 62)
('Yarra', 'Cremorne', 24)
('Yarra', 'Fairfield', 4)
('Yarra', 'Fitzroy', 53)
('Yarra', 'Fitzroy North', 84)
('Yarra', 'Princes Hill', 4)
('Yarra', 'Richmond', 251)
('Yarra Ranges', 'Chirnside Park', 2)
('Yarra Ranges', 'Healesville', 1)
('Yarra Ranges', 'Montrose', 1)
('Yarra Ranges', 'Mooroolbark', 9)
('Yarra Ranges', 'Mount Evelyn', 1)
('Yarra Ranges', 'Silvan', 2)
('Yarra Ranges', 'Upwey', 1)
('Yarra Ranges', 'Yarra Glen', 1)



2022-05-01 13:40:49,146 INFO sqlalchemy.engine.Engine
SELECT city as Ciudad, neighborhood as Barrio, COUNT(1) as Registros
FROM airbnb_data
WHERE neighborhood != 'None'
GROUP BY 1,2

2022-05-01 13:40:49,148 INFO sqlalchemy.engine.Engine [raw sql] ()

SELECT city as Ciudad, neighborhood as Barrio, COUNT(1) as Registros
FROM airbnb_data
WHERE neighborhood != 'None'
GROUP BY 1,2

('Banyule', 'Alphington', 16)
('Banyule', 'Preston', 8)
('Banyule', 'Thornbury', 5)
('Bayside', 'Bentleigh', 1)
('Bayside', 'Brighton', 203)
('Bayside', 'Elwood', 1)
('Boroondara', 'Ashburton', 14)
('Boroondara', 'Balwyn', 70)
('Boroondara', 'Balwyn North', 40)
('Boroondara', 'Camberwell', 82)
('Boroondara', 'Canterbury', 24)
('Boroondara', 'Glen Iris', 32)
('Boroondara', 'Hawthorn', 261)
('Boroondara', 'Kew', 109)
('Boroondara', 'Malvern', 2)
('Darebin', 'Alphington', 22)
('Darebin', 'Coburg', 4)
('Darebin', 'Northcote', 303)
('Darebin', 'Preston', 156)
('Darebin', 'Thornbury', 101)
('Glen Eira', 'Balaclava/Ripponlea', 2)
('Glen Eira', 'Bentleigh', 84)
('Glen Eira', 'Brighton', 2)
('Glen Eira', 'Carnegie', 126)
('Glen Eira', 'Caulfield', 299)
('Glen Eira', 'Ormond/McKinnon', 46)
('Glen Eira', 'St Kilda East', 39)
('Hobsons Bay', 'Newport', 45)
('Hobsons Bay', 'Spotswood/South Kingsville', 23)
('Hobsons Bay', 'Williamstown', 75)
('Hobsons Bay', 'Yarraville/Seddon', 6)
('Kingston', 'Bentleigh', 17)
('Manningham', 'Balwyn North', 17)
('Maribyrnong', 'Footscray', 253)
('Maribyrnong', 'Yarraville/Seddon', 126)
('Melbourne', 'Brunswick', 7)
('Melbourne', 'Carlton', 582)
('Melbourne', 'Carlton North', 10)
('Melbourne', 'Central Business District', 3726)
('Melbourne', 'Docklands', 576)
('Melbourne', 'East Melbourne', 180)
('Melbourne', 'Flemington', 12)
('Melbourne', 'Kensington', 107)
('Melbourne', 'North Melbourne', 290)
('Melbourne', 'Parkville', 85)
('Melbourne', 'Port Melbourne', 8)
('Melbourne', 'Prahran/Windsor', 35)
('Melbourne', 'South Melbourne', 1)
('Melbourne', 'South Wharf', 24)
('Melbourne', 'South Yarra', 161)
('Melbourne', 'Southbank', 1204)
('Melbourne', 'West Melbourne', 119)
('Monash', 'Ashburton', 4)
('Monash', 'Bentleigh', 5)
('Monash', 'Carnegie', 24)
('Monash', 'Glen Iris', 5)
('Monash', 'Malvern East', 17)
('Moonee Valley', 'Brunswick', 33)
('Moonee Valley', 'Flemington', 166)
('Moonee Valley', 'Kensington', 1)
('Moreland', 'Brunswick', 681)
('Moreland', 'Coburg', 144)
('Moreland', 'Fitzroy North', 6)
('Port Phillip', 'Albert Park', 74)
('Port Phillip', 'Balaclava/Ripponlea', 141)
('Port Phillip', 'Elwood', 308)
('Port Phillip', 'Middle Park', 50)
('Port Phillip', 'Port Melbourne', 243)
('Port Phillip', 'Prahran/Windsor', 156)
('Port Phillip', 'South Melbourne', 291)
('Port Phillip', 'South Yarra', 133)
('Port Phillip', 'Southbank', 44)
('Port Phillip', 'St Kilda', 1082)
('Port Phillip', 'St Kilda East', 159)
('Port Phillip', 'Windsor', 2)
('Stonnington', 'Armadale', 71)
('Stonnington', 'Caulfield', 3)
('Stonnington', 'Glen Iris', 44)
('Stonnington', 'Malvern', 34)
('Stonnington', 'Malvern East', 100)
('Stonnington', 'Prahran', 257)
('Stonnington', 'Prahran/Windsor', 4)
('Stonnington', 'South Yarra', 759)
('Stonnington', 'St Kilda', 3)
('Stonnington', 'St Kilda East', 2)
('Stonnington', 'Toorak', 117)
('Stonnington', 'Windsor', 165)
('Whitehorse', 'Balwyn', 25)
('Whitehorse', 'Balwyn North', 4)
('Whitehorse', 'Camberwell', 10)
('Whitehorse', 'Glen Iris', 1)
('Yarra', 'Abbotsford', 254)
('Yarra', 'Alphington', 16)
('Yarra', 'Brunswick', 7)
('Yarra', 'Burnley', 56)
('Yarra', 'Carlton', 3)
('Yarra', 'Carlton North', 128)
('Yarra', 'Clifton Hill', 59)
('Yarra', 'Collingwood', 283)
('Yarra', 'East Melbourne', 8)
('Yarra', 'Fitzroy', 381)
('Yarra', 'Fitzroy North', 225)
('Yarra', 'Northcote', 6)
('Yarra', 'Richmond', 547)

Para obtener los mismos resultados de la clase al combinar los datasets de ambas tablas, tomamos como columnas relevantes de la tabla airbnb las siguientes:

*   `zipcode`
*   Promedio de `price` por zipcode
*   Promedio de `weekly_price` por zipcode
*   Promedio de `monthly_price` por zipcode

In [ ]:
agg_airbnb_query = """
SELECT DISTINCT zipcode, avg(price) as airbnb_price_mean, 
 count(zipcode) as airbnb_record_count, 
 avg(weekly_price) as airbnb_weekly_price_mean, 
 avg(monthly_price) as airbnb_monthly_price_mean
FROM airbnb_data
GROUP BY 1
"""

In [ ]:
agg_airbnb_df = pandas.read_sql(agg_airbnb_query, engine)

2022-05-01 13:46:29,545 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("
SELECT DISTINCT zipcode, avg(price) as airbnb_price_mean,
 count(zipcode) as airbnb_record_count,
 avg(weekly_price) as airbnb_weekly_price_mean,
 avg(monthly_price) as airbnb_monthly_price_mean
FROM airbnb_data
GROUP BY 1
")
2022-05-01 13:46:29,548 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-01 13:46:29,551 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("
SELECT DISTINCT zipcode, avg(price) as airbnb_price_mean,
 count(zipcode) as airbnb_record_count,
 avg(weekly_price) as airbnb_weekly_price_mean,
 avg(monthly_price) as airbnb_monthly_price_mean
FROM airbnb_data
GROUP BY 1
")
2022-05-01 13:46:29,553 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-01 13:46:29,557 INFO sqlalchemy.engine.Engine
SELECT DISTINCT zipcode, avg(price) as airbnb_price_mean,
 count(zipcode) as airbnb_record_count,
 avg(weekly_price) as airbnb_weekly_price_mean,
 avg(monthly_price) as airbnb_monthly_price_mean
FROM airbnb_data
GROUP BY 1

2022-05-01 13:46:29,558 INFO sqlalchemy.engine.Engine [raw sql] ()

A continuación ingestamos esta nueva tabla con datos agregados/transformados en nuestra base de datos:

In [ ]:
agg_airbnb_df.to_sql('agg_airbnb_table', con=engine, if_exists="replace")

2022-05-01 13:52:07,980 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("agg_airbnb_table")
2022-05-01 13:52:07,983 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-01 13:52:07,986 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("agg_airbnb_table")
2022-05-01 13:52:07,990 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-01 13:52:07,996 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-01 13:52:08,000 INFO sqlalchemy.engine.Engine
CREATE TABLE agg_airbnb_table (
	"index" BIGINT,
	zipcode FLOAT,
	airbnb_price_mean FLOAT,
	airbnb_record_count BIGINT,
	airbnb_weekly_price_mean FLOAT,
	airbnb_monthly_price_mean FLOAT
)


2022-05-01 13:52:08,003 INFO sqlalchemy.engine.Engine [no key 0.00286s] ()
2022-05-01 13:52:08,025 INFO sqlalchemy.engine.Engine CREATE INDEX ix_agg_airbnb_table_index ON agg_airbnb_table ("index")
2022-05-01 13:52:08,027 INFO sqlalchemy.engine.Engine [no key 0.00205s] ()
2022-05-01 13:52:08,042 INFO sqlalchemy.engine.Engine COMMIT
2022-05-01 13:52:08,050 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-01 13:52:08,061 INFO sqlalchemy.engine.Engine INSERT INTO agg_airbnb_table ("index", zipcode, airbnb_price_mean, airbnb_record_count, airbnb_weekly_price_mean, airbnb_monthly_price_mean) VALUES (?, ?, ?, ?, ?, ?)
2022-05-01 13:52:08,064 INFO sqlalchemy.engine.Engine [generated in 0.00996s] ((0, None, 159.63013698630138, 0, 906.0833333333334, 3179.6666666666665), (1, 2010.0, 40.0, 1, None, None), (2, 2134.0, 50.0, 1, None, None), (3, 2582.0, 104.0, 1, None, None), (4, 3000.0, 150.5043065043065, 3367, 918.7389558232932, 3407.204651162791), (5, 3001.0, 132.5, 2, None, None), (6, 3002.0, 200.9796954314721, 197, 956.3793103448276, 3712.714285714286), (7, 3003.0, 130.20599250936328, 267, 760.2, 2629.5)  ... displaying 10 of 248 total bound parameter sets ...  (246, 9540.0, 245.0, 1, None, None), (247, 30122.0, 75.0, 1, 525.0, 2281.0))
2022-05-01 13:52:08,067 INFO sqlalchemy.engine.Engine COMMIT

Por último, hacemos la query que combina los datos de airbnb y melb para obtener una tabla como la que obtuvimos en clase.

In [ ]:
merged_data = """
SELECT 

melb_data.Suburb, 
melb_data.Address, 
melb_data.Rooms, 
melb_data.Type, 
melb_data.Price, 
melb_data.Method, 
melb_data.SellerG,
melb_data.Date,
melb_data.Distance,
melb_data.Postcode,
melb_data.Bedroom2,
melb_data.Bathroom,
melb_data.Car,
melb_data.Landsize,
melb_data.BuildingArea,
melb_data.YearBuilt,
melb_data.CouncilArea,
melb_data.Lattitude,
melb_data.Longtitude,
melb_data.Regionname,
melb_data.Propertycount,
agg_airbnb_table.zipcode,
agg_airbnb_table.airbnb_price_mean,
agg_airbnb_table.airbnb_record_count,
agg_airbnb_table.airbnb_weekly_price_mean,
agg_airbnb_table.airbnb_monthly_price_mean
FROM melb_data 
JOIN agg_airbnb_table
ON melb_data.Postcode = agg_airbnb_table.zipcode
"""

In [ ]:
merged_df = pandas.read_sql(merged_data,
            engine)

2022-05-01 13:55:16,014 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("
SELECT

melb_data.Suburb,
melb_data.Address,
melb_data.Rooms,
melb_data.Type,
melb_data.Price,
melb_data.Method,
melb_data.SellerG,
melb_data.Date,
melb_data.Distance,
melb_data.Postcode,
melb_data.Bedroom2,
melb_data.Bathroom,
melb_data.Car,
melb_data.Landsize,
melb_data.BuildingArea,
melb_data.YearBuilt,
melb_data.CouncilArea,
melb_data.Lattitude,
melb_data.Longtitude,
melb_data.Regionname,
melb_data.Propertycount,
agg_airbnb_table.zipcode,
agg_airbnb_table.airbnb_price_mean,
agg_airbnb_table.airbnb_record_count,
agg_airbnb_table.airbnb_weekly_price_mean,
agg_airbnb_table.airbnb_monthly_price_mean
FROM melb_data
JOIN agg_airbnb_table
ON melb_data.Postcode = agg_airbnb_table.zipcode
")
2022-05-01 13:55:16,018 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-01 13:55:16,022 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("
SELECT

melb_data.Suburb,
melb_data.Address,
melb_data.Rooms,
melb_data.Type,
melb_data.Price,
melb_data.Method,
melb_data.SellerG,
melb_data.Date,
melb_data.Distance,
melb_data.Postcode,
melb_data.Bedroom2,
melb_data.Bathroom,
melb_data.Car,
melb_data.Landsize,
melb_data.BuildingArea,
melb_data.YearBuilt,
melb_data.CouncilArea,
melb_data.Lattitude,
melb_data.Longtitude,
melb_data.Regionname,
melb_data.Propertycount,
agg_airbnb_table.zipcode,
agg_airbnb_table.airbnb_price_mean,
agg_airbnb_table.airbnb_record_count,
agg_airbnb_table.airbnb_weekly_price_mean,
agg_airbnb_table.airbnb_monthly_price_mean
FROM melb_data
JOIN agg_airbnb_table
ON melb_data.Postcode = agg_airbnb_table.zipcode
")
2022-05-01 13:55:16,025 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-01 13:55:16,030 INFO sqlalchemy.engine.Engine
SELECT

melb_data.Suburb,
melb_data.Address,
melb_data.Rooms,
melb_data.Type,
melb_data.Price,
melb_data.Method,
melb_data.SellerG,
melb_data.Date,
melb_data.Distance,
melb_data.Postcode,
melb_data.Bedroom2,
melb_data.Bathroom,
melb_data.Car,
melb_data.Landsize,
melb_data.BuildingArea,
melb_data.YearBuilt,
melb_data.CouncilArea,
melb_data.Lattitude,
melb_data.Longtitude,
melb_data.Regionname,
melb_data.Propertycount,
agg_airbnb_table.zipcode,
agg_airbnb_table.airbnb_price_mean,
agg_airbnb_table.airbnb_record_count,
agg_airbnb_table.airbnb_weekly_price_mean,
agg_airbnb_table.airbnb_monthly_price_mean
FROM melb_data
JOIN agg_airbnb_table
ON melb_data.Postcode = agg_airbnb_table.zipcode

2022-05-01 13:55:16,033 INFO sqlalchemy.engine.Engine [raw sql] ()

Vemos las primeras 5 filas y corroboramos que es una tabla como la que obtuvimos en clase.

In [ ]:
merged_df[:5]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,zipcode,airbnb_price_mean,airbnb_record_count,airbnb_weekly_price_mean,airbnb_monthly_price_mean
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,3067.0,130.624031,258,605.152174,2187.032258
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,3067.0,130.624031,258,605.152174,2187.032258
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,3067.0,130.624031,258,605.152174,2187.032258
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,3067.0,130.624031,258,605.152174,2187.032258
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,3067.0,130.624031,258,605.152174,2187.032258

## Ejercicio 2:

 



Pueden leer otras columnas del conjunto de AirBnB además de las que están en interesting_cols, si les parecen relevantes.

1.   Seleccionar un subconjunto de columnas que les parezcan relevantes al problema de predicción del valor de la propiedad. Justificar las columnas seleccionadas y las que no lo fueron.
 
  *   Eliminar los valores extremos que no sean relevantes para la predicción de valores de las propiedades.

2. Agregar información adicional respectiva al entorno de una propiedad a partir del [conjunto de datos de AirBnB](https://www.kaggle.com/tylerx/melbourne-airbnb-open-data?select=cleansed_listings_dec18.csv) utilizado en el práctico.

    A.   Seleccionar qué variables agregar y qué combinaciones aplicar a cada una. Por ejemplo, pueden utilizar solo la columna price, o aplicar múltiples transformaciones como la mediana o el mínimo.

    B. Utilizar la variable zipcode para unir los conjuntos de datos. Sólo incluir los zipcodes que tengan una cantidad mínima de registros (a elección) como para que la información agregada sea relevante.

    C. Investigar al menos otras 2 variables que puedan servir para combinar los datos, y justificar si serían adecuadas o no. Pueden asumir que cuentan con la ayuda de anotadores expertos para encontrar equivalencias entre barrios o direcciones, o que cuentan con algoritmos para encontrar las n ubicaciones más cercanas a una propiedad a partir de sus coordenadas geográficas. NO es necesario que realicen la implementación.

Pueden leer otras columnas del conjunto de AirBnB además de las que están en `interesting_cols`, si les parecen relevantes.

Si bien en el ejercicio anterior usamos solo 3 columnas de esa tabla (para imitar los resultados obtenidos en clase), la tabla airbnb tiene 84 columnas. Recordamos las columnas originales de la tabla airbnb:

In [ ]:
airbnb_df.shape

(22895, 84)

In [ ]:
airbnb_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'neighborhood_overview', 'notes', 'transit',
       'access', 'interaction', 'house_rules', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighborhood',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'street', 'neighborhood', 'city', 'suburb', 'state', 'zipcode',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'price',
       'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights',
       'calendar_updated', 'has_availability', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'calendar_last_scraped', 'number_of_reviews', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'license',
       'instant_bookable', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month'],
      dtype='object')

Ya habíamos revisado los nulos, ceros y valores únicos en el ejercicio anterior. Vemos algunas medidas descriptivas de las columnas

In [ ]:
pandas.options.display.float_format = '{:,.1f}'.format
with pandas.option_context('display.max_rows', None, 'display.max_columns', None): 
  print(airbnb_df.describe())

                id            scrape_id       host_id  zipcode  latitude  \
count     22,895.0             22,895.0      22,895.0 22,749.0  22,895.0
mean  18,698,829.5 20,181,200,000,000.0  70,834,115.2  3,116.9     -37.8
std    8,141,522.2                  0.0  64,718,929.5    257.1       0.1
min        9,835.0 20,181,200,000,000.0       9,082.0  2,010.0     -38.2
25%   12,875,696.0 20,181,200,000,000.0  17,280,048.0  3,006.0     -37.9
50%   20,261,773.0 20,181,200,000,000.0  48,014,108.0  3,068.0     -37.8
75%   24,955,252.5 20,181,200,000,000.0 114,384,153.0  3,163.0     -37.8
max   30,593,623.0 20,181,200,000,000.0 229,470,515.0 30,122.0     -37.5

       longitude  accommodates  bathrooms  bedrooms     beds    price  \
count   22,895.0      22,895.0   22,878.0  22,890.0 22,861.0 22,895.0
mean       145.0           3.4        1.3       1.5      2.0    148.0
std          0.1           2.2        0.6       0.9      1.5    210.9
min        144.5           1.0        0.0       0.0      0.0      0.0
25%        145.0           2.0        1.0       1.0      1.0     71.0
50%        145.0           2.0        1.0       1.0      1.0    111.0
75%        145.0           4.0        1.5       2.0      2.0    165.0
max        145.8          16.0       14.0      16.0     24.0 12,624.0

       weekly_price  monthly_price  security_deposit  cleaning_fee  \
count       2,524.0        1,891.0          15,401.0      17,249.0
mean          907.0        3,234.3             316.6          65.7
std           821.2        2,808.1             479.2          58.0
min            91.0          400.0               0.0           0.0
25%           450.0        1,700.0             133.0          25.0
50%           750.0        2,800.0             200.0          59.0
75%         1,066.0        3,912.5             400.0          90.0
max        11,536.0       54,258.0           6,950.0         867.0

       guests_included  extra_people  minimum_nights  maximum_nights  \
count         22,895.0      22,895.0        22,895.0        22,895.0
mean               1.8          13.0             4.1         5,141.7
std                1.4          21.0            25.9       660,904.2
min                1.0           0.0             1.0             1.0
25%                1.0           0.0             1.0            59.0
50%                1.0           0.0             2.0         1,125.0
75%                2.0          20.0             3.0         1,125.0
max               16.0         421.0         1,125.0    99,999,999.0

       availability_30  availability_60  availability_90  availability_365  \
count         22,895.0         22,895.0         22,895.0          22,895.0
mean              10.2             23.8             39.2             135.1
std               10.5             21.4             33.0             133.3
min                0.0              0.0              0.0               0.0
25%                0.0              0.0              0.0               4.0
50%                7.0             21.0             38.0              88.0
75%               19.0             43.0             70.0             276.0
max               30.0             60.0             90.0             365.0

       number_of_reviews  review_scores_rating  review_scores_accuracy  \
count           22,895.0              17,189.0                17,175.0
mean                21.3                  94.2                     9.6
std                 39.0                   8.6                     0.8
min                  0.0                  20.0                     2.0
25%                  1.0                  92.0                     9.0
50%                  5.0                  97.0                    10.0
75%                 23.5                 100.0                    10.0
max                538.0                 100.0                    10.0

       review_scores_cleanliness  review_scores_checkin  \
count                   17,182.0               17,161.0
mean                         9.4                    9.7
std                          1.0                    0.8
min                          2.0                    2.0
25%                          9.0                   10.0
50%                         10.0                   10.0
75%                         10.0                   10.0
max                         10.0                   10.0

       review_scores_communication  review_scores_location  \
count                     17,177.0                17,162.0
mean                           9.8                     9.7
std                            0.8                     0.7
min                            2.0                     2.0
25%                           10.0                    10.0
50%                           10.0                    10.0
75%                           10.0                    10.0
max                           10.0                    10.0

       review_scores_value  calculated_host_listings_count  reviews_per_month
count             17,160.0                        22,895.0           17,653.0
mean                   9.5                             7.1                1.6
std                    0.9                            15.6                1.7
min                    2.0                             1.0                0.0
25%                    9.0                             1.0                0.3
50%                   10.0                             1.0                1.0
75%                   10.0                             4.0                2.3
max                   10.0                            98.0               14.5

In [ ]:
with pandas.option_context('display.max_columns', None): 
  print(airbnb_df.head(2))

      id                         listing_url            scrape_id  \
0   9835   https://www.airbnb.com/rooms/9835 20,181,200,000,000.0
1  10803  https://www.airbnb.com/rooms/10803 20,181,200,000,000.0

  last_scraped                                      name  \
0    12/7/2018                    Beautiful Room & House
1    12/7/2018  Room in Cool Deco Apartment in Brunswick

                                             summary  \
0                                                NaN
1  A large air conditioned room with queen spring...

                                               space  \
0  House: Clean, New, Modern, Quite, Safe. 10Km f...
1  The apartment is Deco/Edwardian in style and h...

                                         description  \
0  House: Clean, New, Modern, Quite, Safe. 10Km f...
1  A large air conditioned room with queen spring...

                               neighborhood_overview notes  \
0       Very safe! Family oriented. Older age group.   NaN
1  This hip area is a crossroads between two grea...   NaN

                                             transit  \
0  YES ! The bus (305,309) is exactly two blocks ...
1  Easy transport options - the tram is right out...

                                              access  \
0  Kitchen, backyard, upstairs lounge. We'd like ...
1  Wifi. Bathroom and kitchen is shared but I mos...

                                         interaction  \
0                        As much as the guest wants.
1  I'm home mostly but sometimes I may be working...

                                         house_rules  \
0       Prefence would be given females or  a couple
1  Theres a yoga studio downstairs so if you see ...

                                         picture_url  host_id  \
0  https://a0.muscache.com/im/pictures/44620/5a58...    33057
1  https://a0.muscache.com/im/pictures/31323790/9...    38901

                                  host_url host_name host_since  \
0  https://www.airbnb.com/users/show/33057     Manju  8/21/2009
1  https://www.airbnb.com/users/show/38901   Lindsay  9/16/2009

                    host_location  \
0                              AU
1  Melbourne, Victoria, Australia

                                          host_about  host_response_time  \
0  About us: We are an East Indian couple in our ...  a few days or more
1  As an artist working in animation and video I ...                 NaN

  host_response_rate host_is_superhost  \
0                 0%                 f
1                NaN                 f

                                  host_thumbnail_url  \
0  https://a0.muscache.com/defaults/user_pic-50x5...
1  https://a0.muscache.com/im/users/38901/profile...

                                    host_picture_url host_neighborhood  \
0  https://a0.muscache.com/defaults/user_pic-225x...               NaN
1  https://a0.muscache.com/im/users/38901/profile...         Brunswick

                                  host_verifications host_has_profile_pic  \
0                      ['email', 'phone', 'reviews']                    f
1  ['email', 'phone', 'reviews', 'jumio', 'govern...                    t

  host_identity_verified                          street  neighborhood  \
0                      f         Bulleen, VIC, Australia  Balwyn North
1                      t  Brunswick East, VIC, Australia     Brunswick

         city          suburb state  zipcode             smart_location  \
0  Manningham         Bulleen   VIC  3,105.0         Bulleen, Australia
1    Moreland  Brunswick East   VIC  3,057.0  Brunswick East, Australia

  country_code    country  latitude  longitude is_location_exact  \
0           AU  Australia     -37.8      145.1                 f
1           AU  Australia     -37.8      145.0                 t

  property_type     room_type  accommodates  bathrooms  bedrooms  beds  \
0         House  Private room             2        1.0       1.0   2.0
1     Apartment  Private room             2        1.0       1.0   1.0

   bed_type                                          amenities  price  \
0  Real Bed  {Internet,Wifi,"Pets live on this property",Do...     60
1     Futon  {TV,Internet,Wifi,"Air conditioning",Kitchen,H...     35

   weekly_price  monthly_price  security_deposit  cleaning_fee  \
0           NaN            NaN               NaN           NaN
1         200.0          803.0               0.0           9.0

   guests_included  extra_people  minimum_nights  maximum_nights  \
0                1            22               1             365
1                1            15               3              45

  calendar_updated has_availability  availability_30  availability_60  \
0    17 months ago                t               30               60
1      6 weeks ago                t                4                9

   availability_90  availability_365 calendar_last_scraped  number_of_reviews  \
0               90               365             12/7/2018                  4
1               33               213             12/7/2018                108

  first_review last_review  review_scores_rating  review_scores_accuracy  \
0    5/24/2011   9/12/2015                  90.0                     9.0
1    1/12/2013  11/26/2018                  87.0                     9.0

   review_scores_cleanliness  review_scores_checkin  \
0                       10.0                   10.0
1                        8.0                    9.0

   review_scores_communication  review_scores_location  review_scores_value  \
0                         10.0                     9.0                  9.0
1                          9.0                     9.0                  9.0

  requires_license license instant_bookable          cancellation_policy  \
0                f     NaN                f  strict_14_with_grace_period
1                f     NaN                t                     moderate

  require_guest_profile_picture require_guest_phone_verification  \
0                             f                                f
1                             t                                t

   calculated_host_listings_count  reviews_per_month
0                               1                0.0
1                               1                1.5

Vemos columna por columna. 

Las siguientes variables no aportan información ya que son para identificar los datos de cada propiedad, del dueño de la propiedad: `id`, `listing_url`, `scrape_id`, `name`, `host_id`, `host_url`, `host_name`, `picture_url`


Las siguientes columnas requerirían transformarse para ser usadas (por ejemplo, armar categorías o grupos), ya son de texto libre y así como están no aportan información útil: `summary`, `space`, `description`, `neighborhood_overview`, `notes`, `transit`, `access`, `interaction`, `house_rules`.


* last_scraped: equiparable con la fecha de los precios en la otra tabla. Nos indica lo actualizados o no de los datos. Sin embargo, nuestro problema hoy es predecir la fecha de venta y no la de alquiler, es decir que si queremos tomar este dato tenemos que estar incluyendolo en el cruce (calcular promedios/medianas por codigo postal + fecha).

* host_since: podría ayudar a compensar alquileres mas elevados (por la confianza asociada a un host que está hace más tiempo). Al igual que la anterior, debería combinarse con los precios de alquiler ya que de otra forma no aporta información para estimar precios de venta en Melbourne.

* host_location: 
* host_about: 
* host_response_time: 
* host_response_rate: 
* host_is_superhost: 
* host_thumbnail_url: 
* host_picture_url: 
* host_neighborhood: 
* host_verifications: 
* host_has_profile_pic: 
* host_identity_verified: 
* street: 
* neighborhood: 
* city: 
* suburb: 
* state: 
* zipcode: 
* smart_location: 
* country_code: 
* country: 
* latitude: 
* longitude: 
* is_location_exact: 
* property_type: 
* room_type: 
* accommodates: 
* bathrooms: 
* bedrooms: 
* beds: 
* bed_type: 
* amenities: 
* price: 
* weekly_price: 
* monthly_price: 
* security_deposit: 
* cleaning_fee: 
* guests_included: 
* extra_people: 
* minimum_nights: 
* maximum_nights: 
* calendar_updated: 
* has_availability: 
* availability_30: 
* availability_60: 
* availability_90: 
* availability_365: 
* calendar_last_scraped: 
* number_of_reviews: 
* first_review: 
* last_review: 
* review_scores_rating: 
* review_scores_accuracy: 
* review_scores_cleanliness: 
* review_scores_checkin: 
* review_scores_communication: 
* review_scores_location: 
* review_scores_value: 
* requires_license: 
* license: 
* instant_bookable: 
* cancellation_policy: 
* require_guest_profile_picture: 
* require_guest_phone_verification: 
* calculated_host_listings_count: 
* reviews_per_month:

## Ejercicio 3:

 



Crear y guardar un nuevo conjunto de datos con todas las transformaciones realizadas anteriormente.

## Ejercicios opcionales:




1.   Armar un script en python (archivo .py) [ETL](https://towardsdatascience.com/what-to-log-from-python-etl-pipelines-9e0cfe29950e) que corra los pasos de extraccion, transformacion y carga, armando una funcion para cada etapa del proceso y luego un main que corra todos los pasos requeridos.
2. Armar un DAG en Apache Airflow que corra el ETL. (https://airflow.apache.org/docs/apache-airflow/stable/tutorial.html)